{% load static %}
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="format-detection" content="telephone=no">

<meta name="google-site-verification" content="dpdL7D3R7TXt9M00DHHkk1H58qGoTvvGudZ3Aci7uvg" />

<meta name="keywords" content="ООО ПЭК, Поволжская электротехническая компания, производитель исполнительных механизмов, электроприводов, электроприводы, МЭО, МЭОФ, МЭМ, ПЭМ, МЭП" />
<meta name="description" content="ПЭК разрабатывает и производит исполнительные механизмы МЭО, МЭОФ, МЭП, МЭМ, ПЭМ, ПБР, шлагбаумы и трубопроводную арматуру с электроприводом" />
<link href="{% static 'css/fonts.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/normal.css' %}" rel="stylesheet">
<link href="{% static 'css/sidebar.css' %}" rel="stylesheet">
<link href="{% static 'css/header.css' %}" rel="stylesheet">
<link href="{% static 'css/footer.css' %}" rel="stylesheet">
<link rel="shortcut icon" type="image/png" href="/media/main_page/favicon.png"/>

{% csrf_token %}
