:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.cart-ttl{
  font-family: 'Raleway';
  font-weight: 200;
  color: #333;
  display: flex;
  justify-content: center;
}
.cart-ttl span{
  color: #8a1524;
  font-family: 'SF UI Display';
  font-weight: 100;
  font-size: 0.8em;
}
.cart-header{
  display: flex;
  justify-content: space-around;
  font-size: 0.9em;
  font-weight: 200;
  text-transform: uppercase;
  border-bottom: 1px solid #e8e8e9;
}
.item div{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-size: 1.1em;
  color: #555;
}

.btn-quantity{
  font-weight: 200;
  width: 30px;
  padding: 0em;
  margin: 0 0.3em;
  font-size: 1.4em;
  background-color: #f6f6f6;
  transition: .1s;
  border: 0;
  border-radius: 5px;
  color: #555;
}
.btn-quantity:hover, .btn-delete:hover{
  background-color: #ececec;
}
.input-integer{
  width: 40px;
  height: 30px;
  color: #555;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #f6f6f6;
}
.btn-delete{
  font-size: 0.8em;
  display: flex;
  align-items: center;
  padding: 0 0.5em;
  background-color: #f6f6f6;
  transition: .2s;
  border: 0;
  border-radius: 5px;
  color: #555;
}
.btn-delete a{padding: 0;}

.input-designation{
  font-size: 1em;
  height: 30px;
  color: #555;
  text-align: center;
  min-width: 180%;
  border-radius: 5px;
  border: 0;

}
.input-designation:focus, .input-designation:hover{
  color: #8a1524;
}
