.navbar{
	padding-top: 1.5em;
	height: auto;
}

.nav-item a:hover{
	border-color: #8a1524;
}

@media (max-width: 760px){
	.dropdown .dropdown-menu a{
		/*background-color: #eeeeee !important;
		opacity: 0.7 !important;
		color: #000 !important;*/
	}
	.navbar{
		background-color: #fff;
		padding-left: 0px;
	}
	.media_small{
		width: 65px;
	}

}