  .contacts-title h1{
  color: #414141;
  text-align: center;
  font-size: 2em;
  font-weight: 200;
  letter-spacing: 1px;
}
.office-title{
  font-size: 1.8em;
  color: #4e0000;
}
.adress, .adress p{
  font-family: "SF UI Text" !important;
  font-weight: normal;
  font-size: 1em;
  color: #555;
}

@media (max-width: 760px){
  .adress{ margin-left: 0;}
}

.tel-email b{
 font-family: "SF UI Text";
 font-weight: 600;
 color: #444 !important;
}
 h5{  font-size: 1.1em !important;}

@media (min-width: 768px) {
  .emails{
    width: 300px !important;
  }
}
@media (min-width: 992px) {
  .emails{
    width: 500px !important;

  }
}
