main{
  background-color: var(--main-bg-color) !important;
}

.content-wrapper{
  max-width: 900px !important;
}
.docs-ttl{
  font-family: 'Raleway';
  font-weight: 200;
  color: #333;
  display: flex;
  justify-content: center;
}

.wrapper{
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 3px;
  transition: .3s;
}
/* .wrapper:last-of-type{
  border-bottom: none !important;
} */
.wrapper h1 {
  font:  normal 1.4em 'SF UI Text';
  color: #222;
  padding: 2em;
}

.wrapper img{
  height: 120px;
  width: auto;
}

/* .wrapper:hover {
-webkit-transform: scale(1.01);
-ms-transform: scale(1.01);
transform: scale(1.01);
} */


@media (max-width: 767.98px) {
  .wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper img{height: 100px;}
  .wrapper h1{font-size: 1.6em;}

}

@media (max-width: 575.98px) {
  .wrapper h1{font-size: 1.1em;
    padding: 1em;
    padding-left: 2em;
  }
  .wrapper img{height: 70px; padding-left: 10px;}
}
