:root{
    --footer_bg_color: #f9f9f9;
    --tiny_footer_bg_color: #f9f9f9;
    --footer_text_color: #282828;
    --footer_headers: #000;
}
.footer{
  padding-top: 100px;
  background-color: var(--footer_bg_color);
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}
.contacts-mobile{
  font-weight: 500;
  margin-bottom: 2em!important;
  border-bottom: 1px solid #4e0000;
}
.footer a, .footer p, .footer h2, .left-block p, .left-block a, .tiny-footer p{
  color: var(--footer_text_color);
  font-family: "SF UI Text";
  font-weight: normal;
}
.footer a:hover{
    text-decoration: underline;
}
.footer h2{
  color: var(--footer_headers);
  font-size: 1.1em;
  font-weight: 500;
}
.left-block p, .left-block a{
  color: var(--footer_text_color);
}
.tiny-footer{
 display: flex;
 background-color: var(--tiny_footer_bg_color);
 min-height: 30px;
}
.tiny-footer p{
  font-size: 0.7em;
  padding: 10px 15px !important;
  margin-bottom: 0;
}
.link-block a {
  padding: 0.7em 0;
}
/* .left-block span{
  font-family: "SF UI Text";
  font-weight: 500;
} */

@media (max-width: 767.98px){
  .footer{
  z-index: 1 !important;
  position: relative !important;
  padding-top: 0em;
  }
  footer h2{ font-size: 1em; display: flex; justify-content: start;}
  footer a{
    display: table;
    font-size: 1em;
    margin:0 auto;
}
  .left-block div:nth-last-child(1) a{
    font-size: 1em;
    margin-bottom: 20px;
  }
  .tiny-footer p{
    display: flex;
    justify-content: center;
  }

  .link-block a{
  margin:.3em 0;
  padding: 0.5em 0;
  text-align: left !important;
  }
  .center-md{font-size: 1em; text-align: center;}
  .container{padding: 0;}
}
