
.footer{
  padding-top: 100px;
  letter-spacing: .56px;
  background-color: #444;
  font-weight: lighter;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer a, .footer p{
  letter-spacing: .56px;
  color: #bcbcbc;
  font-family: "Raleway";
  font-weight: 300;
  margin-bottom: 0;
  transition-duration: .2s;
}
.footer a:hover{
    text-decoration: none;
    color: yellow;
}
.footer h2{
  font-family: Raleway;
  font-size: 1.5em;
  font-weight: 400;
}
.left-block p, .left-block a{
  font-size: 0.91em;
  font-family: "SF UI Text";
  color: #dedede;
}
.tiny-footer{
 display: flex;
 background-color: #333;
 min-height: 20px;
}
.tiny-footer p{
  color: #dedede;
  font-size: 0.7em;
  padding: 10px 15px !important;
  font-family: "SF UI Text";
  margin-bottom: 0;
}
.link-block a {
  padding: 0.5em 0;
}


@media (max-width: 760px){
  .footer{
  z-index: 1 !important;
  position: relative !important;
  padding-top: 3em;
  }
  footer h2{ font-size: 1em; display: flex; justify-content: center;}
  footer a{
    display: table;
    font-size: 1.1em;
    margin:0 auto;
}
  .left-block div:nth-last-child(1) a{
    font-size: 1em;
    color: #fff !important;
    margin-bottom: 20px;
  }
  .tiny-footer p{
    display: flex;
    justify-content: center;
  }
  .link-block a{
  padding: 0.4em 0;
  }

  .center-md{font-size: 1em; text-align: center;}
  .container{padding: 0;}
}
