.nav-item a:hover{
	border-color: #8a1524;
}
@media (max-width: 760px){
	.dropdown .dropdown-menu a{
		/*background-color: #eeeeee !important;
		opacity: 0.7 !important;
		color: #000 !important;*/
	}
	.navbar{
		padding-left: 0px;
	}
	.media_small{
		width: 65px;
	}
}

/* ----header */
.contact-block div{
	font-family: 'SF UI Text' !important;
	font-weight: 700 !important;
	position: relative;
}
.contact-block div:last-child{
	font-weight: 500 !important;
}
.navbar{
  background-color: var(--navbar_bg_color);
  z-index: 10 !important;
  height: auto;
  padding-bottom: 0px;
}

.navbar-brand{
margin-left: 3em;
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
-webkit-animation-delay: 1.7s;
-moz-animation-delay: 1.7s;
animation-delay: 1.7s;
}


.nav-link{
  color: var(--nav_link_color) !important;
  font-family: 'Raleway';
  font-weight: 500;
  letter-spacing: .56px;
	font-size: 1em;

}

 .nav-item a:hover{
  margin-bottom: -1px;
  border-bottom: 1px solid yellow;
}


nav.navbar .dropdown:hover > .dropdown-menu {
 display: block;
 margin-bottom: 0px;
 border-radius: 15px;
 visibility: visible;
  opacity: 1;
}
nav.navbar .dropdown:hover > .dropdown-menu > .dropdown-item{
border-bottom: 0px;
border-radius: 10px;
margin-bottom: 0px;
}

.dropdown .dropdown-menu {
  display: block;
  visibility: hidden;
  opacity: 0;
   transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  margin-bottom: 0px;
  border-radius: 15px;
	border: none !important;

	-webkit-box-shadow: 0px 0px 5px 4px rgba(85,85,85,0.1);
	-moz-box-shadow: 0px 0px 5px 4px rgba(85,85,85,0.1);
	box-shadow: 0px 0px 5px 4px rgba(85,85,85,0.1);
}



@media (max-width: 760px){
	 .dropdown-menu{ background-color: #f9f9f9 !important;}
  .dropdown .dropdown-menu{
  display: block;
  visibility: visible;
  opacity: 1;
  background-color: #000;/*#770E23*/
  opacity: 0.7;
  border-radius: 15px;
}
  .dropdown .dropdown-menu a{
      color: #000;
      border-bottom: none;
      margin-bottom: 0px;
  }
	.navbar-collapse.nav-link{color: #000 !important; padding-left: 0.5em;}
	.navbar-nav{padding-top: 1.3em;}
  .media_small{
    width: 65px;
    height: auto;
  }
  .navbar-brand{
    margin-left: 0em;
  }
  .dropdown-item:hover{
    background-color: transparent !important;
    border-bottom: none;
    margin-bottom: 0px;
  }
  .nav-item a:hover{
    border-bottom: 0px;
    margin-bottom: 0px;
  }
  .navbar{
		font-size: 1.2em;
    padding-left: 0px;
		background-color: var(--navbar_bg_color) !important;
		padding-right: 0px !important;
  }
	.navbar button{margin-right: 1em;}
	.show{border-bottom: 2px solid #dedede;}

}
.cart-counter{
	position: absolute;
	color: #fff;
	top: 0;
	right: 0;
	width: 16px;
	height: 16px;
	background-color: #ff3a31;
	border-radius: 50%;
	line-height: 16px;
	text-align: center;
}
.cart-counter p {
margin: 0;
font-size: 10px;
font-family: "SF UI Text";
}

.sidenav {
  height: 200vh;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  background-color: #f6f6f6;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  padding-bottom: 200px;
}


.sidenav a {
	font-family: "Raleway";
	border-bottom: 1px solid #d6d6d6;
	font-weight: 600;
	font-size: 1.15em;
	margin: 0 1.5em;
  text-decoration: none;
  text-align: right;
  text-transform: uppercase;
  padding: 1em 0em;
  color: #000;
  display: block;
	white-space: nowrap;
}
.sidenav a:nth-of-type(n+2){
	margin-top: 1em;
}

.sidenav .closebtn, .closebtn a {
  position: absolute;
  top: 10px;
	right: 5px;
	margin-right: 0px;
	color: #777!important;
  font-size: 30px;
  padding: 0px 20px;
	border-bottom: none;
}


#menu-close{
	position: fixed;
	top: 0;
 	height: 200vh;
	left: 0;
	width: 100%;
	z-index: 100 !important;
	visibility: hidden;
	display: block;
}

.hamburger{font-size: 2em !important;}

.dropdown-item.active, .dropdown-item:active {
    color: #000;
    text-decoration: none;
    background-color: transparent !important;
}

@media screen and (max-width: 767.98px) {
    .side-collapse.in {
        width: 0;
    }
    .navbar-nav li.dropdown {
        padding-right: 0;
    }
    .navbar-default {
        padding-right: 0;
    }
    .navbar .navbar-default {
        border-right: none;
    }
		.nav-link{
			color: var(--nav_link_color);
			padding: 0.5em 0;
		}

    .sidenav{
      z-index: 999 !important;
    }
}


@media (min-width: 850px) {
  .phone-wrapper{
		display: block!important;
	}
}
