body{
  max-width: 1170px !important;
  margin: 0 auto;
}


.pic{
  display: block;
  max-width: 185px;
  margin: 0 auto;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 185px;
  height: 124px;
  overflow: hidden;

}
.separately{
background-color: #fff;
border-radius: 15px;

}
