

.container{
  max-width: 1050px !important;
  padding-top:0px;
}
html{
    margin-top: -25px;
    width: 100%;
    max-width: 100%;
    font-size: 0.8em;
}

body {
    width: 100% !important;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

main{
  position: relative;
  margin: 0 auto;
  z-index: 2;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  background-color: #fff;
}

main a:hover, a:focus{
  text-decoration: none;
}

/* ----header */

.navbar{
  /*background-color: #821228;*/
  z-index: 3 !important;
  height: auto;
  padding-bottom: 0px;
  padding-top: 1.5em;
  margin-top:-20px;
}

.navbar-brand{
margin-left: 3em;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
-webkit-animation-delay: 1.7s;
-moz-animation-delay: 1.7s;
animation-delay: 1.7s;
}


.nav-link{
  color:#e8e8e8;
  font-family: Raleway;
  font-weight: 500;
  letter-spacing: .100px;

}

 .nav-item a:hover{
  margin-bottom: -1px;
  border-bottom: 1px solid yellow;
}


nav.navbar .dropdown:hover > .dropdown-menu {
 display: block;
 margin-bottom: 0px;
 border-radius: 15px;
 visibility: visible;
  opacity: 1;
  z-index: 5;
}
nav.navbar .dropdown:hover > .dropdown-menu > .dropdown-item{
border-bottom: 0px;
border-radius: 15px;
margin-bottom: 0px;
}

.dropdown .dropdown-menu {
  display: block;
  visibility: hidden;
  opacity: 0;
   transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  margin-bottom: 0px;
  border-radius: 15px;
}
.banner {
  position: relative;
  z-index: 1;
  background-size: auto;
  height: auto;
  width: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  -webkit-animation: slide 720s linear infinite;
}

@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -2000px 0; }
}


.title-text{
  font-family: 'Raleway';
  font-weight: 500;
  color: #fff;
  font-size: 3.7em;
  letter-spacing: 1px;
  text-align: left;
  text-transform: uppercase;


}
.text{
  margin-bottom: 0px!important;
  font-family: 'Raleway';
  font-weight: 300;
  color: #FFD700;
  font-size: 1em;
  text-align: left;
  letter-spacing: 1px;


}
.title{
padding: 5em;
}


@media (max-width: 760px){
  .dropdown .dropdown-menu{
  display: block;
  visibility: visible;
  opacity: 1;
  background-color: #000;/*#770E23*/
  opacity: 0.5;
  border-radius: 15px;
}
.title-text{font-size: 1.5em;}
.text{font-size: 1em !important;}



  .dropdown .dropdown-menu a{
      color: #fff;
      border-bottom: none;
      margin-bottom: 0px;
  }
  .media_small{
    width: 65px;
    height: auto;
  }

  .navbar-brand{
    margin-left: 0em;

  }
  .dropdown-item:hover{
    background-color: transparent !important;
    border-bottom: none;
    margin-bottom: 0px;
  }

  .nav-item a:hover{
    border-bottom: 0px;
    margin-bottom: 0px;
  }

  .text{
    font-size: 1.5em;
  }
  .title-text{
    padding-top:0.5em;
    font-size: 2em;
  }

  .navbar{
    padding-left: 0px;
  }
}





/* ----box catalog */

.container p,h1,h2,h3{
  font-family: "Raleway";
}


.pic{
  display: block;
  width: 100%;
  max-width: 150px;
  height: auto;
  margin: 0 auto;
}

.separately{
background-color: #fff;
border-radius: 20px;
width: 30%;
}

.separately p{
  font-family: "Raleway";
  font-weight: 500;
  text-align: center;
  color: #292929;
  font-size: 1.1em;
}
.item-name:hover{
  text-decoration: none;
  color: #4e0000;
}



/* --footer */

.footer{
  padding-top: 100px;
  letter-spacing: .56px;
  background-color: #333333;
  font-weight: lighter;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}
.text_light{
    font-weight: lighter!important;
    letter-spacing: .56px;
}
.footer a, .footer p{
  font-size: 0.9em;
  color: #a8a8a8;
  font-family: "Raleway";
  font-weight: 300;

  text-decoration: none;
  transition-duration: .2s;
}
.footer a:hover{
    text-decoration: none;
    color: #d8f8fd;
}
.footer h2{
  font-family: Raleway;
  font-size: 1.5em;
  font-weight: 400;
}
.left-block p, .left-block a{
  font-family: "sf";
  color: #dedede;
}
.tiny-footer{
 display: flex;
 background-color: #262626;
 min-height: 20px;
}
.tiny-footer p{
  color: #dedede;
  font-size: 0.7em;
  font-family: sf;
  font-weight: lighter;
}



@media (max-width: 760px) {
  main {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  footer h2{ font-size: 1em; display: flex; justify-content: center;}
  footer a{
    display: table;
    font-size: 1em;
    margin:0 auto;
}

  .center-md{font-size: 1em; text-align: center;}
  .container{padding: 0;}

  .separately{width: 45%;}
}

@media (min-width: 300px) and (max-width: 370px){
    .iphoneseoff {display: none;}
    .footer a, p{
      padding: 2px 5px;
    }
    .title-text{font-size: 1.8em;}
}
