@font-face {
  font-family: 'sf';
  src:url('../fonts/post/SFUIText-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'title';
  src:url('../fonts/post/Golos Text_Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


.container{
  max-width: 1050px !important;
}
html{
    margin-top: -25px;
    width: 100%;
    max-width: 100%;
    font-family: sf;
    font-size: 0.7em !important;
}

body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

main{
  position: relative;
  margin: 0 auto;
  z-index: 1;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  background-color: #fff;
  margin-bottom: 400px;
}

main a:hover, a:focus{
  text-decoration: none;
}

/* ----box catalog */
.container p{
  font-family: sf;
}
.pic{
  display: block;
  width: 100%;
  max-width: 184px;
  height: auto;
  margin: 0 auto;
}

.separately{
background-color: #fff;
border-radius: 20px;
width: 30%;
transition-delay: .6s;
}
.separately:hover{
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;

}
.separately p{
  text-align: center;
  color: #292929;
}
.item-name :hover{
  text-decoration: none;
}

/* ----header */

.navbar{
  background-color: #821228;
  z-index: 2 !important;
}

.nav-link{
  color:#e8e8e8;
  font-family: "sf";
  font-weight: lighter;
  letter-spacing: .100px;

}

 .nav-item a:hover{
  margin-bottom: -1px;
  border-bottom: 1px solid yellow;
}


nav.navbar .dropdown:hover > .dropdown-menu {
 display: block;
 margin-bottom: 0px;
 border-radius: 15px;
 visibility: visible;
  opacity: 1;
}
nav.navbar .dropdown:hover > .dropdown-menu > .dropdown-item{
border-bottom: 0px;
border-radius: 15px;
margin-bottom: 0px;
}

.dropdown .dropdown-menu {
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  margin-bottom: 0px;

}
.banner {
  background-size: auto;
  height: 28vh;
  width: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  margin-bottom: 8vh;
  box-sizing: border-box;
  -webkit-animation: slide 720s linear infinite;
}

@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -2000px 0; }
}



.media_small{
  padding: 10px;
}


.title-text{
  color: #fff;
  font-size: 3em;
  font-family: sf;
  text-align: center;

}
.text{
  color: #FFD700;
  font-size: 1em;
  font-family: sf;
  text-align: center;
  margin-top: 20px;

}
.title{
padding-top: 100px;
}




@media (max-width: 760px){
  .dropdown .dropdown-menu{
  display: block;
  visibility: visible;
  opacity: 1;
  background-color: #770E23;
  border-radius: 15px;
}
.title-text{font-size: 1.5em;}
.text{font-size: 1em !important;}



  .dropdown .dropdown-menu a{
      color: #fff;
      border-bottom: none;
      margin-bottom: 0px;
  }
  .media_small{
    width: 111px;
    height: 65px;

  }
  .dropdown-item:hover{
    background-color: transparent !important;
    border-bottom: none;
    margin-bottom: 0px;
  }

  .nav-item a:hover{
    border-bottom: 0px;
    margin-bottom: 0px;
  }

  .text{
    font-size: 2em;
    padding-bottom: 0.5em;
  }
  .title-text{
    padding-top:0.5em;
    font-size: 2.5em;
  }
}


/* --footer */

.footer{
  padding-top: 200px;
  letter-spacing: .56px;
  background-color: #333333;
  font-weight: lighter;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}
.text_light{
    font-weight: lighter!important;
    letter-spacing: .56px;
}
.footer a, p{
  font-size: 1em;
  color: #a8a8a8;
  padding: 5px 10px;
  text-decoration: none;
  transition-duration: .2s;
}
.footer a:hover{
    text-decoration: none;
    color: #d8f8fd;

}
.footer h2{
  font-size: 1.5em;
  font-weight: lighter;
}

.tiny-footer{
 display: flex;
 align-items: flex-end;
 background-color: #262626;
 min-height: 20px;
}
.tiny-footer p{
  color: #a8a8a8;
  font-size: 0.6em;
  font-family: sf;
  font-weight: lighter;
}


@media (max-width: 760px) {
  main {
    margin-bottom: 90vh !important;
  }
  footer h2{ font-size: 1em; display: flex; justify-content: center;}
  footer a{
    display: table;
    font-size: 1em;
    margin:0 auto;
}


  .tiny-footer {font-size: 1em;}
  .center-md{font-size: 1em; text-align: center;}
  .container{padding: 0;}

  .separately{width: 45%;}
}

@media (min-width: 300px) and (max-width: 370px){
    .iphoneseoff {display: none;}
    .footer a, p{
      padding: 2px 5px;
}
