BODY {
	MARGIN: 0px
}
.altgrada_just {
	FONT-SIZE: 11px; COLOR: #003333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: justify
}
.altgradaleft {
	FONT-SIZE: 10px; COLOR: #a52a2a; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
TD {
	FONT-SIZE: 10px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
P {
	FONT-SIZE: 10px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
LI {
	FONT-SIZE: 10px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
HR {
	COLOR: #a9a9a9
}
A {
	FONT-SIZE: 10px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A:hover {
	FONT-SIZE: 10px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.blu {
	FONT-SIZE: 10px; COLOR: #0000cd; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: justify
}
.copy {
	FONT-SIZE: 9px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.copy:hover {
	FONT-SIZE: 9px; COLOR: #999999
}
.greylink {
	FONT-SIZE: 10px; COLOR: #cc0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.greylink:hover {
	FONT-SIZE: 10px; COLOR: #cc0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.catmenu {
	FONT-SIZE: 10px; COLOR: #cc0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.catmenu:hover {
	FONT-SIZE: 10px; COLOR: #000099; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.command {
	BORDER-RIGHT: #cc0000 1px solid; BORDER-TOP: #cc0000 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #cc0000 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #cc0000 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #cc0000
}
.headlinesmenu {
	FONT-SIZE: 10px; COLOR: #cc0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.headlinesmenu:hover {
	FONT-SIZE: 10px; COLOR: #000099; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
.mail {
	BACKGROUND-COLOR: #bedfff
}
.errormail {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: MS Sans Serif, Tahoma, Verdana, sans-serif; BACKGROUND-COLOR: red
}
.menu {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: red; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menu:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #b22222; TEXT-DECORATION: none
}
.menub {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #cc0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menub:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #cc0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menutable {
	BORDER-RIGHT: #bedfff 1px solid; BORDER-TOP: #bedfff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid
}
.print {
	COLOR: #000000; TEXT-DECORATION: none
}
.print:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
.printd {
	COLOR: #000000; BACKGROUND-COLOR: #cccccc; TEXT-DECORATION: none
}
.redbig {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #cc0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.redbig:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #cc0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.redboldleft {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #cc0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.table-red {
	BORDER-RIGHT: #ff0000 1px solid; BORDER-TOP: #ff0000 1px solid; BORDER-LEFT: #ff0000 1px solid; BORDER-BOTTOM: #ff0000 1px solid
}
.textinput {
	BORDER-RIGHT: #cc0000 1px solid; BORDER-TOP: #cc0000 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #cc0000 1px solid; WIDTH: 100%; COLOR: #003333; BORDER-BOTTOM: #cc0000 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.table-black {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
.tableheader {
	BORDER-RIGHT: #f8f8f8 1px solid; BORDER-TOP: #f8f8f8 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid
}
.mt {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #999999; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.mt:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.k1k {
	FONT-SIZE: 9px; COLOR: #999999; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.k1k:hover {
	FONT-SIZE: 9px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
TEXTAREA {
	BORDER-RIGHT: #003333 1px solid; BORDER-TOP: #003333 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 10px; BORDER-LEFT: #003333 1px solid; COLOR: #b22222; TEXT-INDENT: 2px; BORDER-BOTTOM: #003333 1px solid; FONT-FAMILY: MS Sans Serif, Tahoma, Verdana, sans-serif; BACKGROUND-COLOR: #ffffff
}
INPUT {
	BORDER-TOP-WIDTH: 1px; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 10px; BORDER-LEFT-COLOR: #ffa07a; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #ffa07a; COLOR: #a52a2a; BORDER-TOP-COLOR: #ffa07a; TEXT-INDENT: 2px; FONT-FAMILY: MS Sans Serif, Tahoma, Verdana, sans-serif; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #ffa07a
}
INPUT.pn-text {
	BORDER-TOP-WIDTH: 1px; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 10px; BORDER-LEFT-COLOR: #ffa07a; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #ffa07a; COLOR: #a52a2a; BORDER-TOP-COLOR: #ffa07a; TEXT-INDENT: 2px; FONT-FAMILY: MS Sans Serif, Tahoma, Verdana, sans-serif; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #ffa07a
}
INPUT.pn-button {
	BORDER-TOP-WIDTH: 1px; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 10px; BORDER-LEFT-COLOR: #003333; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #003333; COLOR: red; BORDER-TOP-COLOR: #003333; TEXT-INDENT: 2px; FONT-FAMILY: MS Sans Serif, Tahoma, Verdana, sans-serif; BACKGROUND-COLOR: #ffe4b5; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #003333
}
