:root {
  --mod_table_bg_color: #f9f9f9;
  --mod_table_bg_color_hover: #f4f3f2;
  --height_of_row_mod_table: 8px !important;
  --doc_wrab_bg_color: #edf1f6;
  --doc_wrab_bg_color_hover:#f6eeed;
}

html{
  overflow-x: hidden;
}
nav{
background-color: #fff;
}
.image{
  width: 400px;
  height: auto;
  z-index: 4;
  background-color: #fff;
}
.top-block h1{
  font-family: 'SF UI Display';
  font-weight: 400;
  font-size: 2.3em;
  margin: 3em 0;
}
.top-block p{
  font-family: 'Raleway';
  font-weight: 400;
  color: #222222;
  font-size: 1.2em;
  line-height: 25px;

  letter-spacing: .54px;
}

#cart_btn{
  width: auto;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
.cart-button-wrapper{
  transition-duration: .9s !important;
}

.btn{
  display: flex;
  width: 40px;
  justify-content: center;
  border: none !important;
  align-items: center;
  cursor: pointer;
  margin: 0;
  background-image: url("/static/img/cart-plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0px;
  border-bottom: 1px solid #e1dedc !important;
  background-color: inherit;
  outline: none !important;
  box-shadow: none !important;

}
.btn:hover{
  background-color: #f4f3f2;
}


.content a, .content p, .content span{
  font-family: 'SF UI Text';
  color: #555;
  font-weight: normal;
}
.content{
  font-family: 'SF UI Text';
  color: #555;
  max-width: 900px!important;
}
.content strong,
.content span{font-family: 'SF UI Text';}


.mod_table_bg{
  background-color: var(--mod_table_bg_color);
   border-radius: 15px;
   overflow-x: auto;
   -webkit-box-shadow: 0px 0px 3px 3px rgba(249,249,249,1);
   -moz-box-shadow: 0px 0px 3px 3px rgba(249,249,249,1);
   box-shadow: 0px 0px 3px 3px rgba(249,249,249,1);
}

@media (max-width: 780px) {
  .image{width: 250px;}
  .doc-wrap{width: 45% !important;}
}


.doc-wrap{
  background-color: var(--doc_wrab_bg_color);
  border-radius: 10px;
  text-align: center;
  width: 30%;
  transition-duration: .3s;
}
.doc-wrap:hover{background-color: var(--doc_wrab_bg_color_hover);}
.doc-wrap a {color: black;}
.doc-wrap p:hover {text-decoration: underline;}

table{
  width: 100%!important;
  border: hidden;
  border-bottom: 1px solid #e1dedc;

}
table td{border-right: hidden;}

table tr{
  border-bottom: 1px solid #e1dedc;
  transition-duration: .2s;
}
table tr:hover{
  background-color: #eee;
}


#MOD td{border: none !important; margin: 0; padding: var(--height_of_row_mod_table);}
#MOD tr{border-bottom: 1px solid #e1dedc;}
#MOD tr:hover{ background-color: var(--mod_table_bg_color_hover);}
#MOD{
  width: 100% !important;
  height: auto !important;
  border: none !important;
}
#MOD tr:nth-child(n+2) td:nth-child(1){
  border: none;
  padding: 10px !important;
}
#MOD tr:nth-child(1) td:nth-child(1){
  min-width:30% !important;
}
form:nth-last-of-type(1) .btn{
  border: none !important;
}
#MOD tr:nth-last-of-type(1){
  border: none !important;
}
#MOD tr:nth-of-type(1){
  background-color: var(--mod_table_bg_color);
}
.cart-button-wrapper:active{
  transform: scale(-1.05);
}

@media (max-width: 767.98px){
  .cart-button-wrapper:active{
    transform: scale(-1.01);
  }
}
