* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

:root{
  --image_width: 400px;
  --doc_wrab_bg_color: #edf1f6;
  --doc_wrab_bg_color_hover: #f6eeed;


  --tables_cell_padding: 14px;
  --content_line_height: 23px;
	--content_font_color: #444;
}

main{
  padding-bottom: 5rem;
}

table p{margin: 0!important;}


.images-block{
  margin-top: 5rem;
  z-index: 2;
	overflow-x: auto;
}
.image{
  height: auto;
  z-index: 4;
}




.content a, .content p, .content p span, .content li, .mod-table a, .mod-table p, .mod-table span, .content   table td, .mod-content {
  color: var(--content_font_color);
  font-weight: normal;
  line-height: var(--content_line_height);
  font-size: 14px!important;
}
.content,{
  padding-top: 2rem;
  font-family: 'SF UI Text';
  color: var(--content_font_color);
  max-width: 900px!important;
  line-height: var(--content_line_height);
  margin: 0 auto;
}
.content table strong{color: #222; font-size: 13px!important;}



.content table, .mod-content table{
  width: 100%!important;
  border: hidden;

}
.content table td, .mod-content table td{
  border-right: hidden;
  padding: var(--tables_cell_padding);
}
.content table td:first-of-type,
.content table td:first-of-type span,
.content table td:first-of-type p{
  color: #000!important;

}

.content table tr, .mod-content table tr{
  border-bottom: 1px solid #e1dedc;
  transition: all .2s ease;
}

.content table{
  border-radius: 16px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.06);
}

.content table tr td span{
  transition: all .3s ease;
}
.content table tr:hover td span {
  color: #00004e!important;
 
}



.content tr:last-of-type, .content tr:last-of-type td ,.content table{border-bottom: none!important;}
.contet img{max-width: 100%!important;}




/* DOCUMENTS */
.docs-section{
  margin-top: 4rem;
}

.doc-wrap{
  border: 1px solid #eaeaea;
  border-radius: 10px;
  text-align: center;
  width: 20%;
  transition: box-shadow .3s;
}
.doc-wrap p{font: 200 1em "SF UI Text"; color: #000;}
.doc-wrap:hover{border: 1px solid transparent; box-shadow: 0 10px 30px rgba(0,0,0,0.09);;}
.doc-wrap a {color: black;}

/*  END DOCUMENTS */

/* SENSORS BLOCK */

.sensors-hero{
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0 6rem;
}
.sensors-ttl{
  margin-top: 4rem;
  font-weight: 500;
  font-size: 18px;
  color: #000;
}
.sensors-wrap{
  display: flex;
  margin: 1rem;
  width: 21%;
  height: auto;
}



.sensor-inner {
  display: flex;
  flex-direction: column;
  height: 190px;
  margin: 8px;
  width: calc(100%/5 - 18px);

  border-radius: 16px;
  box-shadow: 1px 2px 12px 0 rgba(94,94,94,.12);
     /* border: 1px dotted #555; */
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;

}

.sensor-more{
  display: none;
  padding: 10px; 
  margin:  0 20px 0;
  justify-content: center;
  font-weight: 700;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 20px;
  color: #000;

}

.sensor-inner:hover ~ .sensor-inner {
  transition: 0.4s ease-out;
}


.sensor-inner img{
  width: 70px;
  margin: 1rem auto;
}
.sensor-inner h5{
  font: 600 16px 'SF UI Text';
  margin: 0 auto;
  padding: 1rem 0 ;
  }
  .sensor-inner p{
    font: normal 14px 'SF UI Text';
    text-align: center;
    padding: 1rem .6rem;
    }


.sensor-inner:last-of-type{
  justify-content: center;
  align-items: center;
  font-weight: 700!important;
  box-shadow: none;
  
}



button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
button.learn-more {
  width: 12rem;
  height: auto;
}
button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 1px;
  padding-top: 1px;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid rgb(255, 255, 255);
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  line-height: 1.6;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem);
}
button:hover .button-text {
  color: #fff;
}
button:active, button:focus{
  outline: none;
}


@media (max-width: 767.98px) {
        main{padding-bottom: 1rem;}
        .primary_ttl h1{
        padding: 3rem 2rem 2rem!important;
        }
        .content{margin-top: 2rem; padding: 0 1rem;}
        .content table td{
          --tables_cell_padding: 5px;
          font-size: 12px!important;
        }

      .image{
        width: 300px!important;
        padding: 10px 0;
        border-right: 1px solid #c0c8d0;
      }
      .images-block a:first-of-type{padding-left: 2rem;}

      .images-block a:last-of-type{padding-right: 2rem;}
      .images-block a:last-of-type .image{border-right: none;}

      .doc-wrap{width: 45% !important;}

      ::-webkit-scrollbar {
        height: 3px;
      }

      ::-webkit-scrollbar-thumb:horizontal {
          border-radius: 3px;
          background: linear-gradient( to left, #e66465, #9198e5);
      }
}

@media (max-width: 767.98px) {
  .sensors-ttl{
    padding: 0 1rem;
  }

  .sensor-inner{ 
    width: calc(100%/3 - 18px);
    height: 200px;
  }
  .sensor-inner p{margin-bottom: 0;}
  .sensor-inner h5{padding: 5px;}
}


@media (min-width: 768px)and (max-width: 1199.98px) {
    .sensor__description{
      margin: 1.5rem;
    }
    .image{
      width: 100%!important;
    }
  }
  @media (min-width: 1199.98px) {
    .image{width: var(--image_width)!important;}
}
