html{
  overflow-x: hidden;
}
nav{
background-color: #fff;
}
.image{
  width: 400px;
  height: auto;
  z-index: 4;
  background-color: #fff;
}
.top-block h1{
  font-family: 'SF UI Display';
  font-size: 2.3em;
}
.top-block p{
  font-family: 'Raleway';
  font-weight: 400;
  color: #222222;
  font-size: 1.2em;
  line-height: 25px;
  letter-spacing: .54px;
}

#cart_btn{
  width: auto;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
.btn{
  display: flex;
  width: 40px;
  justify-content: center;
  border: none !important;
  align-items: center;
  cursor: pointer;
  margin: 0;
  background-image: url("/static/img/cart-plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0px;
  border-bottom: 1px solid #e1dedc !important;
  background-color: inherit;
  outline: none !important;
  box-shadow: none !important;
}
.btn:hover{
  background-color: #f4f3f2;
}


.content a, .content p, .content span{
  font-family: 'SF UI Text';
  color: #555;
  font-weight: normal;
}
.content{
  font-family: 'SF UI Text';
  color: #555;
  max-width: 900px!important;
}
.content strong,
.content span{font-family: 'SF UI Text';}


.mod_table_bg{
  background-color: #f9f9f9;
   border-radius: 15px;
   overflow-x: auto;
   -webkit-box-shadow: 0px 0px 3px 3px rgba(249,249,249,1);
   -moz-box-shadow: 0px 0px 3px 3px rgba(249,249,249,1);
   box-shadow: 0px 0px 3px 3px rgba(249,249,249,1);
}

@media (max-width: 760px) {
  .image{width: 250px;}
}


.doc-wrap{
  background-color: #edf1f6;
  border-radius: 10px;
  text-align: center;
  width: 30%;
}

.doc-wrap a{
  color: black;
}

table{
  max-width: 100%;
  border: hidden;
  border-bottom: 1px solid #e1dedc;

}
table td{border-right: hidden;}

table tr{
  border-bottom: 1px solid #e1dedc;
  transition-duration: .2s;
}
table tr:hover{
  background-color: #eee;
}

#MOD td{border: none !important; margin: 0; padding: 8px !important;}
#MOD tr{
  border-bottom: 1px solid #e1dedc;
}
#MOD tr:hover{
  background-color: #f4f3f2;
}
#MOD{
  width: 100% !important;
  height: auto !important;
  border-bottom: 1px solid #e1dedc;
}
#MOD tr:nth-child(n+2) td:nth-child(1){
  border: none;
  padding: 10px !important;
}
#MOD tr:nth-child(1) td:nth-child(1){
  width: 30% !important;
}
