:root {

  --height_of_row_mod_table: 10px !important;
  --mod_table_bg_color: #f9f9f9;
  --mod_table_bg_color_hover: #f4f3f2;
}

html{
  overflow-x: hidden;
}

.top-block p{
  font-family: 'Raleway';
  font-weight: 400;
  color: #222222;
  font-size: 1.2em;
  line-height: 25px;

  letter-spacing: .54px;
}

#cart_btn{
  width: auto;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.btn{
  display: flex;
  width: 40px;
  justify-content: center;
  border: none;
  align-items: center;
  cursor: pointer;
  margin: 0;
  border-radius: 0px;
  border-bottom: 1px solid #e1dedc !important;
  background-color: inherit;
  outline: none !important;
  box-shadow: none !important;
  color: #222;
  font-size: 18px;

  transition: transform .15s linear forwards, background-color .2s;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
.btn:hover{
  background-color: #f4f3f2;

}
.btn-animate{
  color: green!important;
}



.mod-table{
  font-family: 'SF UI Text';
  color: #555;
  line-height: var(--content_line_height);
  width: 100%!important;
}

.mod_table_bg{
  background-color: var(--mod_table_bg_color);
   border-radius: 15px;
   overflow-x: auto;
   -webkit-box-shadow: 0px 0px 3px 3px rgba(249,249,249,1);
   -moz-box-shadow: 0px 0px 3px 3px rgba(249,249,249,1);
   box-shadow: 0px 0px 3px 3px rgba(249,249,249,1);
}



#MOD td{border: none !important; margin: 0; padding: var(--height_of_row_mod_table);}
#MOD tr{border-bottom: 1px solid #e1dedc;}
#MOD tr:hover{ background-color: var(--mod_table_bg_color_hover);}
#MOD{
  width: 100% !important;
  height: auto !important;
  border: none !important;
}
#MOD tr:nth-child(n+2) td:nth-child(1){
  border: none;
  padding: 10px !important;
}
#MOD tr:nth-child(1) td:nth-child(1){
  min-width:30% !important;
}
form:nth-last-of-type(1) .btn{
  border: none !important;
}

#MOD tr:nth-of-type(1){
  background-color: var(--mod_table_bg_color);
}
