:root{
  --image_width: 400px;
  --doc_wrab_bg_color: #edf1f6;
  --doc_wrab_bg_color_hover: #f6eeed;


  --tables_cell_padding: 14px;
  --content_line_height: 23px;
	--content_font_color: #444;
}

main{
  padding-bottom: 5rem;
}

table p{margin: 0!important;}


.images-block{
  margin-top: 5rem;
  z-index: 2;
	overflow-x: auto;
}
.image{
  height: auto;
  z-index: 4;
}



.content a, .content p, .content span, .content li, .mod-table a, .mod-table p, .mod-table span, .content   table td{
  font-family: 'SF UI Text';
  color: var(--content_font_color);
  font-weight: normal;
  line-height: var(--content_line_height);
  font-size: 14px!important;
}
.content{
  padding-top: 2rem;
  font-family: 'SF UI Text';
  color: var(--content_font_color);
  max-width: 900px!important;
  line-height: var(--content_line_height);
}
.content strong{color: #222;}



.content table{
  width: 100%!important;
  border: hidden;
  border-bottom: 1px solid #e1dedc;

}
.content table td{
  border-right: hidden;
  padding: var(--tables_cell_padding);
}
/* .content table td:first-of-type,
.content table td:first-of-type span
.content table td:first-of-type p{
  color: #000!important;
} */

.content table tr{
  border-bottom: 1px solid #e1dedc;
  transition-duration: .2s;
}
.content table tr:hover{
  background-color: #eee;
}
.contet img{max-width: 100%!important;}




/* DOCUMENTS */
.docs-section{
  border-top: 1px solid transparent;
  border-image-source: linear-gradient(to right, #edf1f6, #f6eeed);
  border-image-slice: 1;
  margin-top: 4rem;
}

.doc-wrap{
  background-color: var(--doc_wrab_bg_color);
  border-radius: 10px;
  text-align: center;
  width: 30%;
  transition: background-color .3s;
}
.doc-wrap p{font: 200 1em "SF UI Text"; color: #000;}
.doc-wrap:hover{background-color: var(--doc_wrab_bg_color_hover);}
.doc-wrap a {color: black;}
.doc-wrap p:hover {text-decoration: underline;}
/*  END DOCUMENTS */


@media (max-width: 767.98px) {
  main{padding-bottom: 1rem;}
  .primary_ttl h1{
  padding: 3rem 2rem 2rem!important;
  }
  .content{margin-top: 2rem; padding: 0 1rem;}
  .content table td{
    --tables_cell_padding: 5px;
  }

.image{
  width: 300px!important;
  padding: 10px 0;
  border-right: 1px solid #c0c8d0;
}
.images-block a:first-of-type{padding-left: 2rem;}

.images-block a:last-of-type{padding-right: 2rem;}
.images-block a:last-of-type .image{border-right: none;}

.doc-wrap{width: 45% !important;}

::-webkit-scrollbar {
  height: 3px;
}

::-webkit-scrollbar-thumb:horizontal {
    border-radius: 3px;
    background: linear-gradient( to left, #e66465, #9198e5);

}
}


@media (min-width: 768px)and (max-width: 2560px) {
  .image{
    width: 100%!important;
  }
}
@media (min-width: 1199.98px) {
  .image{width: var(--image_width)!important;}
}
