.metro {
  list-style: none;
  border-left: 5px solid #DAE4F1;
  background-color: #f6f6f6;
  border-radius: 15px;
  margin-left: 0px;
}
.metro li {line-height: 2em;}
.metro ul {
  margin: 10px 0 20px 15px;
  padding: 0;
  border: none;
  list-style: none;
}
.metro ul:before, .metro ul:after {
  content: "";
  width: 5px;
  height: 28px;
  background:#DAE4F1;
  position: relative;
  display: block;
  left: -9px;
}
.metro ul:before {
  transform: rotate(-45deg);
  margin-top: -15px;
}
.metro ul:after {
  transform: rotate(45deg);
  bottom: -20px;
}
.metro ul li {border-left: 5px solid #DAE4F1;}
.metro ul li:first-child {
  margin-top: -5px;
  padding-top: 5px;
}
.metro ul li:last-child {
  padding-bottom: 9px;
  margin-bottom: -25px;
}
.metro a {
  text-decoration: none;
  display: block;
  font-family: 'Noto Sans', sans-serif;
  color: #4A4B4D;
}
.metro a:before {
  content: "";
  display: inline-block;
  background: #CA682D;
  width: 12px;
  height: 12px;
  left: -9px;
  position: relative;
  border-radius: 50%;
  margin-right: .5em;
}

#content-left {
vertical-align: baseline;
width: 300px;
float: left;
}

.title-sidebar{
  font-size: 2.5em;
}

.text-sidebar{
  margin: 0;
  font-size: 1.2em;
  line-height: 1.2em !important;
  margin-bottom: 10px; 
}