

#content-left {
width: 320px;
float: left;
margin-left: 50px !important;
/*background-color: #f9f9f9;*/
border-radius: 10px;
}

.sidebar-wrap{
  background-color: #fff;
  border-radius: 30px;
}
.sidebar-title {
  font-size: 2em;
  text-align: center;
  width: 100%;
  color: #4e0000;
  padding-bottom: 1em;
  padding-top: 1em;
}

.text-sidebar p{
  padding-left: 1em;
  font-size: 1.2em;
  line-height: 1.2em !important;
  margin-bottom: 10px;
}

.text-sidebar a > p{
  padding-left: 3em;
  font-size: 1em;
}

.lil_title {
  font-size: 1.2em;
  margin:10px;
  font-family: sf;
}

.card{
  border:none;
  background-color: #fff;


}
.card-header{
  border: 0px;
  border-radius: 15px !important;
  background-color: #fff;
}

.card-link{
  font-size: 1em;
  margin-right: 10px;
}

.card-body p{
  font-size: 1.3em;
  text-align: center;
  padding: 0px !important;
}

.card-body p:hover{ background-color: #f2e9e9; border-radius: 8px; }

.card-body{
  padding: 0px !important;
}