@media (min-width: 1600px){
  .col-xxl-6{
    display: flex;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.content-left {
width: 300px;
padding: 0 1em;
margin-bottom: 5vw;
margin-top: 1vw;
border-right: 1px solid #dedede;

opacity: 0;
margin-top: 50px;
transition: 1.5s;
transition-delay: 0.3s;
}
.content-left.animate {
opacity: 1;
margin-top: 0px;
}

.sidebar-wrap{
  background-color: #fff;
  border-radius: 30px;
}
.sidebar-title {
  font-size: 2em;
  text-align: center;
  width: 100%;
  color: #4e0000;
  padding-bottom: 1em;
  padding-top: 1em;
  letter-spacing: 1px;
}

.sidebar-text a{
  color: #4e0000;
}

.sidebar-text a:hover{
  color: #4e3333;
}

.lil_title {
  font-size: 1em;
  margin-top: 1em;
  padding: 0.5em;
  margin-bottom: 0;
  font-family: 'SF UI Text';
  font-weight: normal;
  background-color:#f9f9f9;
  border-radius: 15px;
}

.card{
  border: none;
  background-color: #fff;

}
.card-header{
  border: none !important;
  background-color: white;
  margin-top: 0px;
  padding: 0.2em 1em;
}

.card-header a{
  font-size: 1.1em;
}
.card-link{
  font-size: 0.8em !important;
  margin-right: 10px;
  opacity: 0.6;
}

.card-body p{
  color: #111;
  font-size: 1em;
  text-align: center;
  padding: 0.3em 0;
  margin: 0px !important;
}
.card-body p:hover{color: #8a1524;}
.card-body{
  padding: 0px !important;
}

.sidebar-link{
  padding-left: 10px;
}
