@font-face {
    font-family: 'Roboto Condensed';
    src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url('../fonts/RobotoCondensed/robotocondensedlight.woff2') format('woff2'), url('../fonts/RobotoCondensed/robotocondensedlight.woff') format('woff'), url('../fonts/RobotoCondensed/robotocondensedlight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Condensed';
    src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url('../fonts/RobotoCondensed/robotocondensedlightitalic.woff2') format('woff2'), url('../fonts/RobotoCondensed/robotocondensedlightitalic.woff') format('woff'), url('../fonts/RobotoCondensed/robotocondensedlightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto Condensed';
    src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url('../fonts/RobotoCondensed/robotocondensed.woff2') format('woff2'), url('../fonts/RobotoCondensed/robotocondensed.woff') format('woff'), url('../fonts/RobotoCondensed/robotocondensed.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Condensed';
    src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url('../fonts/RobotoCondensed/robotocondenseditalic.woff2') format('woff2'), url('../fonts/RobotoCondensed/robotocondenseditalic.woff') format('woff'), url('../fonts/RobotoCondensed/robotocondenseditalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto Condensed';
    src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url('../fonts/RobotoCondensed/robotocondensedbold.woff2') format('woff2'), url('../fonts/RobotoCondensed/robotocondensedbold.woff') format('woff'), url('../fonts/RobotoCondensed/robotocondensedbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Condensed';
    src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url('../fonts/RobotoCondensed/robotocondensedbolditalic.woff2') format('woff2'), url('../fonts/RobotoCondensed/robotocondensedbolditalic.woff') format('woff'), url('../fonts/RobotoCondensed/robotocondensedbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  src: local('Roboto'), local('Roboto-Light'), url(../fonts/RobotoLight/RobotoLight.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Bold'), local('Roboto-Regular'), url(../fonts/RobotoRegular/RobotoRegular.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Bold'), local('Roboto-Medium'), url(../fonts/RobotoMedium/RobotoMedium.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(../fonts/RobotoBold/RobotoBold.woff) format('woff');
}

FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
INPUT {
	BORDER-RIGHT: #000000 1px inset; BORDER-TOP: #000000 1px inset; FONT-SIZE: 11px; BORDER-LEFT: #000000 1px inset; BORDER-BOTTOM: #000000 1px inset; FONT-FAMILY: Tahoma
}
H1 {
	PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 0px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff
}
.bgy {
	BACKGROUND-REPEAT: repeat-y
}
.bottom_addr {
	FONT-SIZE: 10px; BACKGROUND-IMAGE: url("../images/adr-bg.gif"); PADDING-BOTTOM: 25px; COLOR: #000000; PADDING-TOP: 25px; BACKGROUND-REPEAT: repeat-x; TEXT-ALIGN: center
}
.bottom_addr_lnk {
	TEXT-DECORATION: none
}
.bottom_addr_lnk:hover {
	TEXT-DECORATION: underline
}
.bgx {
	BACKGROUND-REPEAT: repeat-x
}
.norepeat {
	BACKGROUND-REPEAT: no-repeat
}
.s-offers {
	PADDING-RIGHT: 30px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; VERTICAL-ALIGN: middle; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; TEXT-ALIGN: right
}
.c_name {
	FONT-WEIGHT: normal; FONT-SIZE: 18px; BACKGROUND-IMAGE: url("../images/cn_bg.jpg"); TEXT-TRANSFORM: uppercase; COLOR: #3059ce; BACKGROUND-REPEAT: repeat
}
.bottom-menu {
	PADDING-BOTTOM: 7px; COLOR: #ffffff; PADDING-TOP: 7px; TEXT-ALIGN: center
}
.t-menu {
	PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; COLOR: #999999; WHITE-SPACE: nowrap
}
.t-menu_lnk {
	COLOR: #999999; TEXT-DECORATION: none
}
.t-menu_lnk:hover {
	COLOR: #999999; TEXT-DECORATION: underline
}
.bottom-menu-lnk {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.bottom-menu-lnk:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.menu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url("../images/btn_bg.gif"); COLOR: #000000; BACKGROUND-REPEAT: repeat-x; WHITE-SPACE: nowrap; TEXT-ALIGN: right
}
.menu_lnk {
	COLOR: #000000; TEXT-DECORATION: none
}
.menu_lnk:hover {
	COLOR: #14469f; TEXT-DECORATION: none
}
.body_txt {
	PADDING-RIGHT: 18px; PADDING-LEFT: 18px; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: top; COLOR: #000000; PADDING-TOP: 10px; TEXT-ALIGN: justify
}
DIV.nav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.nav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 1px solid; LIST-STYLE-TYPE: none
}
DIV.nav DIV.lnk {
	POSITION: relative
}
DIV.lnk UL.nav {
	DISPLAY: none; LEFT: 137px; POSITION: absolute; TOP: -3px
}
UL.nav LI A {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px solid; DISPLAY: block; PADDING-LEFT: 5px; BACKGROUND: #2a59b1; PADDING-BOTTOM: 5px; BORDER-LEFT: #ccc 1px solid; COLOR: white; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 0px solid; LIST-STYLE-TYPE: none; TEXT-DECORATION: none
}
* HTML UL.nav LI {
	FLOAT: left; HEIGHT: 1%
}
* HTML UL.nav LI A {
	HEIGHT: 1%
}
UL.nav LI A:hover {
	BACKGROUND: #eeeeee; COLOR: #e2144a
}
DIV.lnk UL.nav LI A {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
DIV.lnk:hover UL.nav {
	DISPLAY: block
}
LI.over UL.nav {
	DISPLAY: block
}
DIV.lnk:hover {
	BACKGROUND: #d1dcfb
}
header .navbar-light{
  background-color: #000;
}
