main{
  font-family: "sf";
}
.image{
  width: 30%;
  height: auto;
}


section{
  font-size: 1em;
}

table{
  max-width: 100%;
  border: hidden;
  border-bottom: 1px solid #fa9a9a;

}
table td{border-right: hidden;}

table tr{
  border-bottom: 1px solid #fa9a9a;
}
table tr:hover{
  background-color: #eee;

}
