main{
  font-family: "sf";
}
.image{
  width: 30%;
  height: auto;
}


section{
  font-size: 1em;
}

table{
  max-width: 100%;
  border: hidden;
  border-bottom: 1px solid #fa9a9a;

}
table td{border-right: hidden;}

table tr{
  border-bottom: 1px solid #fa9a9a;
}
table tr:hover{
  background-color: #eee;
}


.wrapper{
 position: relative;
 background-color: #f5f4f3;
 border-radius: 30px;
transition: all .3s ease;
}
.wrapper h1 {
  font-size: 1.5em;
  color: #4e0000;
}

.wrapper p{
  color: #555;
}
.wrapper img{
    width: 35vh;
    height: auto;
    border-radius: 30px;
}

.wrapper:hover {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}
/* .wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all .3s ease;
  border-radius: 30px;
}
.wrapper:hover{
  -webkit-filter: blur(2px);
  -ms-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  filter: blur(2px);
}

.wrapper:hover::before {
  background-color: rgba(	56, 56, 56,.3);
} */
