.banner{
  position: fixed;
  height: 500px;
  top:-25px;
}
.align-middle{
  position: absolute;
  top: 40%;
  transform: translateY(-50%, -50%);
}

.top-block p{
  font-family: 'Raleway';
  font-weight: 400;
  color: #222222;
  font-size: 1.2em;
  line-height: 25px;
  letter-spacing: .54px;
}
.title h1{
  font-family: 'SF Ui Display';
  font-weight: 400;
}
.content{
  font-family: 'SF UI Text';
  color: #555;
}
.content strong,
.content span{font-family: 'SF UI Text';}

table{
  max-width: 100%;
  border: hidden;
  border-bottom: 1px solid #e1dedc;

}
table td{border-right: hidden;}

table tr{
  border-bottom: 1px solid #e1dedc;
  transition-duration: .2s;
}
table tr:hover{
  background-color: #eee;
}


.wrapper{
 position: relative;
 border-top: 1px solid rgba(0,0,0,.1);
 transition: .3s;
}
.wrapper h1 {
  font-family: 'SF UI Display';
  font-weight: normal;
  font-size: 2em;
  color: #4e0000;
  letter-spacing: -.005em;
}

.wrapper p{
  font-family: 'SF UI Text';
  color: #666;

}
.wrapper img{
    width: 300px;
    height: auto;
    border-radius: 30px;
}

.wrapper:hover {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}


@media (max-width: 760px) {
  .iphone-text-small{
    font-size: 2rem;
    font-family: 'SF UI Display';
  	font-weight: normal;}
  .wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper img{
    border-radius: 20px;
}
  .container{
    margin: 0px !important;
    padding: 0px !important;
  }
    .wrapper img{width: 200px;}
    .wrapper h1{font-size: 1.5em; text-align: center;}
    .content span{font-size: 0.85em!important;}

}
