@font-face {
  font-family: san;
  src:url('../fonts/post/SFUIText-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.container{
  max-width: 1170px !important;
}
body{
  max-width: 100%;
  overflow-x: hidden;
  padding-top: 20px;
}

img{
  width: auto;
  height: 150px;
}

#navbar_alpha{
  background-color: #fff;
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  transition: top 0.7s;
  transition-timing-function: cubic-bezier(.19,1,.22,1);
  z-index: 100;
}

.nav-item{
  color: #000;
  font-family: san;
  font-size: 0.8em;
  text-transform: uppercase;
}
.nav-item:hover{
  transition-duration: 0.3s;
  color: grey;
  text-decoration: none;

}


.team-place{
  background-color: #f0eadf;
}
