{% extends 'mainapp/main-cart.html' %}
{% load static %}
{% block content %}
{% if product_list %}


<div class="container">
	<h1 class="my-2 my-md-5 cart-ttl pb-3">Корзина<span class="pl-2">({{in_cart_counter}})</span></h1>

	<div class="cart-header d-none d-md-flex">
		<p>Наименование</p>
		<p>Количество</p>
	</div>

	{% for item in product_list %}
	<div class="d-flex flex-column flex-md-row border-bottom py-2 justify-content-around item">

<div class="flex-row py-3 py-md-4">
		<form class="d-flex justify-content-center"method="POST" action="{% url 'update_conventional_designation' pk=item.id %}">
			{% csrf_token %}
			<input class="input-designation" type="text" name='conventional_designation' autocomplete="off" onchange="form.submit()"  value="{% if item.conventional_designation != '' and item.conventional_designation != None %}{{ item.conventional_designation}} {% else %} {{ item.title }} {% endif %}">
		</form>
</div>
		<div class="flex-row mt-1 mt-md-0">

			<form method="POST" action="{% url 'update_quantity' pk=item.id %}">
				{% csrf_token %}
				<input class="btn-quantity w-6rem" type="submit" name="plus" value="+">
			</form>
			<form id="main-form" method="POST" action="{% url 'update_quantity' pk=item.id %}">
				{% csrf_token %}
				<input id="input-integer" class="input-integer w-6rem" type="text" name='integer' autocomplete="off" onchange="if( this.value == '' ){this.value = '1';}form.submit();" value='{{ item.quantity }}' min="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');">
			</form>
			<form method="POST" action="{% url 'update_quantity' pk=item.id %}">
				{% csrf_token %}
				<input class="btn-quantity w-6rem" type="submit" name="minus" value="-">
			</form>
			<div class="d-flex d-md-none">
				<a class="btn-delete w-6rem" href="{% url 'remove_from_cart' pk=item.id %}"><svg width="1.6em" height="1.6em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/><path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/></svg></a>
			</div>
		</div>

		<div class="d-none d-md-flex">
			<a class="btn-delete mr-3 w-6rem" href="{% url 'remove_from_cart' pk=item.id %}"><svg width="1.6em" height="1.6em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/><path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/></svg></a>
		</div>
	</div>
	{% endfor %}
	<div class="d-flex justify-content-center">
		<a href="{% url 'checkout'%}" class="btn d-flex justify-content-center w-50 mt-5">Перейти к оформлению заказа</a>
	</div>
</div>

{% else %}
<div style="height: 300px;" class="container">
<h1 class="text-center p-2 mt-5" style="font-weight: 200;" >Ваша корзина пуста</h1>
<div class="d-flex d-md-none py-3 mt-5 go-to-main w-100"><a href="/">Вернуться на главную </a></div>
</div>
{% endif %}
{% endblock content %}
