<!DOCTYPE html>
{% load static %}
<head>
	{% include 'mainapp/head-property.html' %}
	<title>ООО "ПЭК" | Контакты</title>
	<link href="{% static 'css/contacts.css' %}" rel="stylesheet">
</head>
<style media="screen">
:root{
	--main-bg-color: #f6f4f5;
}
</style>
<body>
	{% include 'mainapp/header.html' %}
	<main>
		<div class="contacts-title pt-md-5 mb-md-2 py-3 py-md-3">
			<h1>Наши контакты</h1>
		</div>

		<div class="container-fluid" style="background-color: var(--main-bg-color);">
			<div class="container">
				<div class="d-flex flex-row justify-content-md-between">

					<div class="flex-column my-5 adress" >
						<h2 class="mt-md-4 office-title">Производство и главный офис </h2>
						<p class="pt-md-2">Россия, 428037 Чувашская Республика, г. Чебоксары, </br>пр. Машиностроителей, 17</p>
						<p class="pt-md-2"><b>Почтовый адрес:</b></br> Россия, 428000, Чувашская Республика, </br>г. Чебоксары, а/я 163</p>
						<p class="tel-email"> Тел:<b>  8 (8352) 57-05-16 </b></p>
						<p class="tel-email"> Факс:<b> 8 (8352) 57-05-19  </b></p>
						<p class="tel-email"> E-mail:<b> info@piek.ru </b></p>
					</div>

					<div class="d-none d-lg-flex flex-column ">
						<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A320e4aab6ce01c7ee9354ad188eda03fd3f901fb8415afd039c50d58346ec2b5&amp;source=constructor" width="500" height="400" frameborder="0"></iframe>
					</div>
					<div class="d-none d-md-flex d-lg-none flex-column ">
						<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A320e4aab6ce01c7ee9354ad188eda03fd3f901fb8415afd039c50d58346ec2b5&amp;source=constructor" width="300" height="410" frameborder="0"></iframe>
					</div>

				</div>
			</div>
		</div>

		<div class="container">
			<div class="d-flex flex-column flex-md-row pb-5 adress justify-content-md-between">

				<div class="flex-column my-5 px-3 px-md-0" style="color: #555;">
					<h2 class="mt-md-4 office-title">Московское представительство</h2>
					<p class="pt-md-2"> Россия, 105318, г.Москва, Измайловское шоссе, д.28</p>
					<p class="tel-email"> Тел/Факс:<b> 8 (499) 110-90-85  </b></p>
					<p class="tel-email"> E-mail:<b> info@piek.ru </b></p>
				</div>


				<div class="flex-column emails">
					<div class="emails">
						<div class="d-flex flex-wrap mt-0 mt-md-5 pt-md-4 justify-content-md-between">

							<div class="flex-column px-5 px-md-0 py-3 px-md-3">
							<h5 class="office-title">По коммерческим вопросам</h5>
							<p class="tel-email"> E-mail:<b> info@piek.ru </b></p>
							</div>

							<div class="flex-column px-5 px-md-0 py-3 px-md-3">
							<h5 class="office-title">По техническим вопросам</h5>
							<p class="tel-email"> E-mail:<b> loseev@piek.ru </b></p>
							</div>

							<div class="flex-column px-5 px-md-0 py-3 px-md-3">
							<h5 class="office-title">Отдел снабжения</h5>
							<p class="tel-email"> E-mail:<b> snab@piek.ru </b></p>
							</div>

						</div>
					</div>
				</div>

			</div>
		</div>


	</main>
	{% include 'mainapp/footer.html' %}
</body>
</html>
