<div class="py-5 footer"><!-- footer -->
	<div class="container">
		<div class="d-flex flex-column p-3 flex-md-row text-white text-center text-md-left">
			<div class="flex-column col-md-3 border-right">ООО "ПЭК" - разработка, производство, модернизация и продажа электротехнической продукции</div>

			<div class="flex-column p-3 col-md-3 border-right">
				<h2  class="p-2">Продукция</h2>
				<div class=""><a href="http://piek.ru/catalog/armature/">Трубопроводная арматура</a></div>
				<div class=""><a href="http://piek.ru/catalog/mechanisms/">Однооборотные механизмы</a></div>
				<div class=""><a href="http://piek.ru/catalog/elektroprivody/pem/">Многооборотные механизмы</a></div>
				<div class=""><a href="http://piek.ru/catalog/instruments/bez/on_1_sh/">Блоки электроприводов</a></div>
				<div class=""><a href="http://piek.ru/catalog/blast/shlagbaumy_vzryvozashishennye/">Шлагбаумы взрывозащищенные</a></div>
			</div>


			<div class="flex-column p-3 col-md-3 border-right">
				<h2  class="p-2">Полезные ссылки</h2>
				<div><a href="http://piek.ru/"> Главная </a></div>
				<div><a href="http://piek.ru/about/"> О компании </a></div>
				<div><a href="http://piek.ru/docum/"> Документация </a></div>
				<div><a href="http://piek.ru/contact/"> Контакты </a></div>
			</div>

			<div class="flex-column p-3 tp-ft-newsletter col-md-3">
				<h2 class="p-2">Контакты</h2>
				<div><i class="fa fa-map-marker"></i>428037, г. Чебоксары, Машиностроительный<br>проезд 17 (<a href="#" data-toggle="modal" data-target="#myModal">схема</a>)</div>
				<div><i class="fa fa-phone"></i> <a href="tel:+78352570516">(8352) 57-05-16</a></div>
				<div><a href="tel:+78352570519"> (8352) 57-05-19</a></div>
				<div><i class="fa fa-envelope"></i><a href="mailto:info@piek.ru"> info@piek.ru</a></div>
			</div>

		</div>
	</div>
</div>

<!-- /.footer -->
<!-- Tiny Footer start-->

<div class="tiny-footer">
	<div class="container">
		<p>ПЭК © 2006-2020  Все права защищены</p>
	</div>
</div>





<!-- Yandex.Metrika counter -->
<script type="text/javascript">
	(function (d, w, c) {
		(w[c] = w[c] || []).push(function() {
			try {
				w.yaCounter173038 = new Ya.Metrika({
					id:173038,
					clickmap:true,
					trackLinks:true,
					accurateTrackBounce:true,
					webvisor:true,
					trackHash:true
				});
			} catch(e) { }
		});

		var n = d.getElementsByTagName("script")[0],
		s = d.createElement("script"),
		f = function () { n.parentNode.insertBefore(s, n); };
		s.type = "text/javascript";
		s.async = true;
		s.src = "https://mc.yandex.ru/metrika/watch.js";

		if (w.opera == "[object Opera]") {
			d.addEventListener("DOMContentLoaded", f, false);
		} else { f(); }
	})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/173038" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Схема проезда</h4>
			</div>
			<div class="modal-body">
				<script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=SoHkB05mWtgf2y-0hcTASRPv1q7ESNG2&width=100%&height=426&lang=ru_RU&sourceType=constructor"></script>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
			</div>
		</div>
	</div>
</div>
