{% load static %}
<footer class="footer">
	<div class="container" id="Footer">
		<div class="d-flex flex-column flex-md-row text-white ">

			<div class="d-flex flex-column py-1 col-md-4 left-block">
				<p class="py-3 center-md iphoneseoff">ООО "ПЭК" - разработка, производство, модернизация и продажа электротехнической продукции</p>
				<p class="py-3 center-md">428037, г. Чебоксары, Машиностроительный<br>проезд 17</p>
				<div class="d-flex flex-row flex-md-column">
				<a  class="py-md-3 py-3" href="tel:+78352570516">(8352) 57-05-16</a>
				<a class="py-md-2 py-3" href="mailto:info@piek.ru">info@piek.ru</a>
				</div>
			</div>

			<div class="d-flex flex-column py-3  py-md-3 col-md-4 link-block">
				<h2 class="pb-2 pb-md-4">Продукция</h2>
				<a href="/catalog/armature/"> Трубопроводная арматура </a>
				<a href="/catalog/mechanisms/meof/"> Однооборотные механизмы </a>
				<a href="/catalog/elektroprivody/pem/"> Многооборотные механизмы </a>
				<a href="/catalog/instruments/"> Блоки электроприводов </a>
				<a href="/catalog/blast/shlagbaumy_vzryvozashishennye/"> Шлагбаумы взрывозащищенные </a>
			</div>

			<div class="d-flex flex-column py-3 py-md-3 col-md-4 link-block">
				<h2  class="pb-2 pb-md-4">Информация</h2>
				<a href="/"> Главная </a>
				<a href="/about/"> О компании </a>
				<a href="/docs/"> Документация </a>
				<a href="/contacts/"> Контакты </a>
			</div>

		</div>
	</div>
	<div class="tiny-footer" id="TiyFooter">
		<div class="container"><p>ПЭК © 2006-2020  Все права защищены</p></div>
	</div>
</footer>

<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<script type="text/javascript">
	$(document).ready(() => {
		$('.title-text').addClass('animate');
		$('.content-left').addClass('animate');
	});
</script>
<script> <!-- скрипт для футера -->
	function FooterHeight() {
		let h = document.getElementById('Footer').offsetHeight;
		let h1 = document.getElementById('TiyFooter').offsetHeight;
		let height = h + h1 + 50;
		document.querySelector('main').style['margin-bottom'] = height + 'px';
	}

	$(function(){
		FooterHeight();//calling function on window load
		$(window).resize(function(){
			FooterHeight();//calling function on window resize
		});
	});
</script>

<!-- вроде как не используется -->
<!-- <script>
  $(function() {
  var $menu_popup = $('.menu-popup');


  $(".menu-triger, .menu-close").click(function(){
    $menu_popup.slideToggle(300, function(){
      if ($menu_popup.is(':hidden')) {
        $('body').removeClass('body_pointer');
      } else {
        $('body').addClass('body_pointer');
        $('body').css('overflow', 'hidden');
      }
    });
    return false;
  });


  $(document).on('click', function(e){
    if (!$(e.target).closest('.menu').length){
      $('body').removeClass('body_pointer');
      $('body').css('overflow', 'visible');
      $menu_popup.slideUp(300);
    }
  });
});
</script> -->


<!-- Yandex.Metrika counter -->
<!-- <script type="text/javascript">
	(function (d, w, c) {
		(w[c] = w[c] || []).push(function() {
			try {
				w.yaCounter173038 = new Ya.Metrika({
					id:173038,
					clickmap:true,
					trackLinks:true,
					accurateTrackBounce:true,
					webvisor:true,
					trackHash:true
				});
			} catch(e) { }
		});

		var n = d.getElementsByTagName("script")[0],
		s = d.createElement("script"),
		f = function () { n.parentNode.insertBefore(s, n); };
		s.type = "text/javascript";
		s.async = true;
		s.src = "https://mc.yandex.ru/metrika/watch.js";

		if (w.opera == "[object Opera]") {
			d.addEventListener("DOMContentLoaded", f, false);
		} else { f(); }
	})(document, window, "yandex_metrika_callbacks");
</script> -->



<noscript><div><img src="https://mc.yandex.ru/watch/173038" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h4 class="modal-title" id="myModalLabel">Схема проезда</h4>
</div>
<div class="modal-body">
<script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=SoHkB05mWtgf2y-0hcTASRPv1q7ESNG2&width=100%&height=426&lang=ru_RU&sourceType=constructor"></script>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
</div>
</div>
</div>
</div> -->
