{% load static %}
<meta charset="UTF-8">
<meta name="cmsmagazine" content="0384ae6f7aee8c8f276510981d280a15" />
<meta name='yandex-verification' content='4c8002202d396887' />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="keywords" content="ООО ПЭК, Поволжская электротехническая компания, производитель исполнительных механизмов, электроприводов" />
<meta name="description" content="ООО ПЭК разрабатывает и производит исполнительные механизмы МЭО, МЭОФ, МЭП, шлагбаумы и трубопроводную арматуру с электроприводом" />
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/normal.css' %}" rel="stylesheet">
<link href="{% static 'css/fonts.css' %}" rel="stylesheet">
<link href="{% static 'css/sidebar.css' %}" rel="stylesheet">
<link href="{% static 'css/header.css' %}" rel="stylesheet">
<link href="{% static 'css/footer.css' %}" rel="stylesheet">
