<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{% include 'mainapp/head-property.html' %}
	<title>ООО "ПЭК" - Производство исполнительных механизмов и электроприводов</title>
</head>
<body>
	<main>

		<div class="banner" style="background-image: url({% static 'img/main_page/banner/slider-1.jpg' %});">
			{% include 'mainapp/header-main-page.html' %}
			<div class="container title">
				<h1 class="title-text">Поволжская</br>
					электротехническая</br>
					компания</h1>
					<h2 class="text pt-3">ПРОИЗВОДИТ ИСПОЛНИТЕЛЬНЫЕ МЕХАНИЗМЫ МЭО, МЭОФ, МЭП, МЭМ, ПЭМ, ПБР</h2>
				</div>
			</div>
			<div class="container">




			</div>
			<div class="container">
				<div class="d-flex flex-wrap">
					{% for cat in categories %}
					<div class="m-1 m-md-2 d-flex flex-fill separately">
						<a class="d-flex flex-column flex-fill" href="catalog/{{ cat.slug }}">

							<div class="m-2 py-2 my-lg-3"><img class="pic"src="{{ cat.img.url }}" alt="Исполнительный механизм" title="{{ cat.title }}"></div>
							<div class="py-2 py-lg-5"><p class="item-name"style="text-decoration:none;">{{ cat.title }}</p></div>

						</a>
					</div>
					{% endfor %}
				</div>
			</div>



		</main>
		{% include 'mainapp/footer.html' %}
	</body>
	</html>
