<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	{% include 'mainapp/head-property.html' %}
	<title>Электроприводы МЭО, МЭОФ, МЭП, МЭМ, ПЭМ, ПБР от производителя - ООО "ПЭК"</title>
</head>
<style>
:root{
	--navbar_bg_color: inherit;
	--nav_link_color: #000;
	--company_name_color: #000;
	--about_company_color: #000;
	}
.content-left {
	opacity: 0;
	transition: 1s;
	transition-delay: .6s;
	}


.group-ttl {
padding: 0 3em;
}

.group-ttl h1{
	margin: 3em 0;
	font: normal 25px "SF UI Display";
	text-decoration: underline;
}
.item-name{
	font-size: 16px!important;
}

</style>
<body>

	<!-- mobile  -->
	<!-- <div class="d-block d-md-none">
		<style>
		.navbar{margin-top: -20px !important;}
		@media (max-width: 760px){.navbar{padding-top: 1.6rem !important;}
		.navbar-brand{margin-top: 5px !important;}}
		</style>

		<div class="container title">
			<h1 class="title-text text-dark p-3 pb-3 pb-md-5 pb-md-0 p-md-0">Поволжская электротехническая компания</h1>
				<h2 class="text d-flex text-center p-3 p-md-0 pt-md-5 mx-3" style="border: 1px solid #78061f; color: #78061f; border-radius: 15px;">ПРОИЗВОДИТ ИСПОЛНИТЕЛЬНЫЕ МЕХАНИЗМЫ МЭО, МЭОФ, МЭП, МЭМ, ПЭМ, ПБР</h2>
			</div>
		</div> -->
		<!-- end -->


		<div class="banner" style="background-image: url({% static 'img/main_page/banner/slider-1.jpg' %}); z-index: 99;">
				{% include 'mainapp/header.html' %}

				<div class="container title" style="padding-top: 5em;">
					<h1 class="title-text p-3 pb-5 pb-md-0 p-md-0">Поволжская </br> Электротехническая </br> Компания</h1>
						<h2 class="text px-3 p-md-0 pt-md-4">Производит исполнительные механизмы МЭО, МЭОФ, МЭП, МЭМ, ПЭМ, ПБР</h2>
					</div>
			</div>


			<main >
				<div class="d-flex justify-content-around mx-5 p-5">

							<div class="flex-column group-ttl">
								<h1>Электроприводы в общепромышленноми исполнении</h1>
								{% for cat in categories %}
								{% if cat.id == 1 or cat.id == 2 or cat.id == 3 or cat.id == 6 or cat.id == 7 or cat.id == 8 %}
								<div class="m-1 m-md-2 d-flex flex-fill separately">
								<a class="d-flex flex-row flex-fill" href="catalog/{{ cat.slug }}">

									<div class="m-2 py-2 "><img class="pic"src="{{ cat.img.url }}" alt="Исполнительный механизм" title="{{ cat.title }}"></div>
									<div class="py-2"><h1 class="item-name"style="text-decoration:none;">{{ cat.title }}</h1></div>

								</a>
							</div>
							{% endif %}
							{% endfor %}
							</div>

							<div class="flex-column group-ttl">
								<h1>Электроприводы во взрывозащищенном исполнении</h1>
								{% for cat in categories %}
								{% if cat.id == 13 or cat.id == 4 or cat.id == 5  %}
								<div class="m-1 m-md-2 d-flex flex-fill separately">
								<a class="d-flex flex-row flex-fill" href="catalog/{{ cat.slug }}">

									<div class="m-2 py-2 "><img class="pic"src="{{ cat.img.url }}" alt="Исполнительный механизм" title="{{ cat.title }}"></div>
									<div class="py-2"><h1 class="item-name"style="text-decoration:none;">{{ cat.title }}</h1></div>

								</a>
							</div>
							{% endif %}
							{% endfor %}
							</div>

							<div class="flex-column group-ttl">
								<h1>Шлагбаумы, датчики, управляющие устройства</h1>
								{% for cat in categories %}
								{% if cat.id == 10 or cat.id == 11 or cat.id == 9 or  cat.id == 12 %}
								<div class="m-1 m-md-2 d-flex flex-fill separately">
								<a class="d-flex flex-row flex-fill" href="catalog/{{ cat.slug }}">

									<div class="m-2 py-2 "><img class="pic"src="{{ cat.img.url }}" alt="Исполнительный механизм" title="{{ cat.title }}"></div>
									<div class="py-2"><h1 class="item-name"style="text-decoration:none;">{{ cat.title }}</h1></div>

								</a>
							</div>
							{% endif %}
							{% endfor %}
							</div>


				</div>
			</main>
			{% include 'mainapp/footer.html' %}
			<script type="text/javascript">
				$(document).ready(() => {
					$('.title-text').addClass('animate');
					$('.text').addClass('animate');
					$('.content-left').addClass('animate');
				});
			</script>
		</body>
		</html>
