<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta name="cmsmagazine" content="0384ae6f7aee8c8f276510981d280a15" />
<meta name='yandex-verification' content='4c8002202d396887' />
<meta http-equiv="Content-Type" content="text/html;/">
<meta name="keywords" content="ООО ПЭК, Поволжская электротехническая компания, производитель исполнительных механизмов, электроприводов" />
<meta name="description" content="ООО ПЭК разрабатывает и производит исполнительные механизмы МЭО, МЭОФ, МЭП, шлагбаумы и трубопроводную арматуру с электроприводом" />
<title>ООО "ПЭК" - Производство исполнительных механизмов и электроприводов</title>

<link href="{% static 'css/global.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/newstyle.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/owl.theme.css' %}" rel="stylesheet">
<link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

</head>

<body class="twoColHybLtHdr">

	{% include 'mainapp/header.html' %}
	{% include 'mainapp/slider.html' %}


<div id="main-container" class="main-container">
	<!--main-container-->
	<div id="tp-blog" class="tp-blog">
    <!--tp-blog-->
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-81 tp-right-side"><!--left-side-->
					<div class="row">
						<div class="col-md-12 blog-block"><!-- blog-block -->
							<div class="blog-info"><!-- blog-info -->
								<h3>Мы рады приветствовать Вас на сайте Поволжской электротехнической компании</h3>
								<p>Основными направлениями деятельности "Поволжской электротехнической компании" являются:
								<ul>
									<li>Разработка и производство электрических исполнительных механизмов, электроприводов для трубопроводной арматуры и пуско-управляющих устройств.</li>
									<li>Изготовление взрывозащищенных электроприводов по нормативам 1ExdIIСT4 (1ExdIIBT4).</li>
									<li>Изготовление автоматических шлагбаумов и блоков управления взрывозащищенного исполнения.</li>
									<li>Изготовление трубопроводной арматуры с электроприводами.</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="portfolioContainer isotope">
							<div class="col-md-4 category-4 isotope-item">
								<div class="tp-gallery-pic">
									<a href="/catalog/mechanisms/info/meo/"><img src="/images/pic_01.jpg" class="img-responsive" alt="Исполнительный механизм" title="Электропривод мэо"></a>
									<div class="tp-gallery-caption center">
										<a href="/catalog/mechanisms/info/meo/">Электроприводы МЭО</a>
									</div>
								</div>
							</div>
							<div class="col-md-4 category-4 isotope-item">
								<div class="tp-gallery-pic">
									<a href="/catalog/mechanisms/info/meof/"><img src="/images/pic_02.jpg" class="img-responsive" alt="Исполнительный механизм" title="Электропривод мэо"></a>
									<div class="tp-gallery-caption center">
										<a href="/catalog/mechanisms/info/meof/">Электроприводы МЭОФ</a>
									</div>
								</div>
							</div>
							<div class="col-md-4 category-4 isotope-item">
								<div class="tp-gallery-pic">
									<a href="/catalog/elektroprivody/pem/"><img src="/images/pem-b1m.png" class="img-responsive" alt="Электроприводы задвижек многооборотные" title="Электроприводы многооборотные в общепромышленном исполнении"></a>
									<div class="tp-gallery-caption center">
										<a href="/catalog/elektroprivody/pem/">Многооборотные электроприводы</a>
									</div>
								</div>
							</div>
							<div class="col-md-4 category-4 isotope-item">
								<div class="tp-gallery-pic">
									<a href="/catalog/elektroprivody-vzryvozashishennye/meo/"><img src="/images/meof-250-IICT4.png" class="img-responsive" alt="Врывозащищенный электропривод" title="Электроприводы во взрывозащищенном исполненни"></a>
									<div class="tp-gallery-caption center">
										<a href="/catalog/elektroprivody-vzryvozashishennye/meo/">Электроприводы МЭО во взрывозащищенном исполнении</a>
									</div>
								</div>
							</div>
							<div class="col-md-4 category-4 isotope-item">
								<div class="tp-gallery-pic">
									<a href="/catalog/elektroprivody-vzryvozashishennye/meof/"><img src="/images/pic_03.jpg" class="img-responsive" alt="Врывозащищенный электропривод" title="Электроприводы во взрывозащищенном исполненни"></a>
									<div class="tp-gallery-caption center">
										<a href="/catalog/elektroprivody-vzryvozashishennye/meof/">Электроприводы МЭОФ во взрывозащищенном исполнении</a>
									</div>
								</div>
							</div><div class="col-md-4 category-4 isotope-item">
								<div class="tp-gallery-pic">
									<a href="/catalog/elektroprivody/pem-s-reductorom/"><img src="/images/pic_05.jpg" class="img-responsive" alt="Электроприводы задвижек многооборотные" title="Электроприводы многооборотные в общепромышленном исполнении"></a>
									<div class="tp-gallery-caption center">
										<a href="/catalog/elektroprivody/pem-s-reductorom/">Многооборотные электроприводы c редуктором</a>
									</div>
								</div>
							</div>
							<div class="col-md-4 category-4 isotope-item">
								<div class="tp-gallery-pic">
									<a href="/catalog/mechanisms/info/mep/"><img src="/images/mep-slide.png" class="img-responsive" alt="Прямоходные электроприводы"></a>
									<div class="tp-gallery-caption center">
										<a href="/catalog/mechanisms/info/mep/">Прямоходные электроприводы</a>
									</div>
								</div>
							</div>
							<div class="col-md-4 category-4 isotope-item">
								<div class="tp-gallery-pic">
									<a href="/catalog/armature/"><img src="/images/pic_12.jpg" class="img-responsive" alt="Трубопроводная арматура с электроприводом"></a>
									<div class="tp-gallery-caption center">
										<a href="/catalog/armature/">Трубопроводная арматура с электроприводом</a>
									</div>
								</div>
							</div>
							<div class="col-md-4 category-4 isotope-item">
								<div class="tp-gallery-pic">
									<a href="/catalog/signalizings/"><img src="/images/pic_6.jpg" class="img-responsive" alt="Механизмы сигнализации положения и блокирования"></a>
									<div class="tp-gallery-caption center">
										<a href="/catalog/signalizings/msp_1/">Механизмы сигнализации положения и блокирования</a>
									</div>
								</div>
							</div>
							<div class="col-md-4 category-4 isotope-item">
								<div class="tp-gallery-pic">
									<a href="/catalog/instruments/"><img src="/images/pic_06.jpg" class="img-responsive" alt="Пусковые и управляющие устройства "></a>
									<div class="tp-gallery-caption center">
										<a href="/catalog/instruments/">Пусковые и управляющие устройства </a>
									</div>
								</div>
							</div>
							<div class="col-md-4 category-4 isotope-item">
								<div class="tp-gallery-pic">
									<a href="/catalog/blast/shlagbaumy_vzryvozashishennye/"><img src="/images/pic_5_k.jpg" class="img-responsive" alt="Автоматические шлагбаумы и автоматика для ворот"></a>
									<div class="tp-gallery-caption center">
										<a href="/catalog/blast/shlagbaumy_vzryvozashishennye/">Шлагбаумы взрывозащищенного исполнения</a>
									</div>
								</div>
							</div>
							<div class="col-md-4 category-4 isotope-item">
								<div class="tp-gallery-pic">
									<a href="/catalog/fabrication"><img src="/images/pic_16.jpg" class="img-responsive" alt="Изготовление литформ прессформ штампов" title="Токарные и фрезерные работы"></a>
									<div class="tp-gallery-caption center">
										<a href="/catalog/fabrication">Металлообработка</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<p>Главными преимуществами компании являются <b>короткие сроки изготовления</b> и <b>конкурентная цена.</b></p>
							<p>Наша продукция применяется в таких отраслях как: энергетика, химическая, металлургическая, нефтегазовая отрасли, машиностроение, ЖКХ, пищевая промышленность, агропромышленный комплекс.</p>
							<p>Поставленное нами оборудование работает на различных объектах стран ближнего и дальнего зарубежья (Индия, Иран, Армения, Азербайджан, Казахстан, Украина и др.).</p>
						</div>
					</div>
						<div class="row text-center">
							<div class="col-md-3">
								<a href="/order/"><strong>Ждем ваших заказов</strong></a>
							</div>
							<div class="col-md-6">
								<strong> <a title="Получить информацию об этой продукции и услугах можно в разделе документация" href="/docs/">Получить информацию об этой продукции  можно в разделе документация</a></strong>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
  </div>
</div>




{% include 'mainapp/footer.html' %}


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/dropdown-menu.js"></script>
<script type="text/javascript" src="js/owl.carousel.min.js"></script>
<script type="text/javascript" src="js/slider.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script> (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-87666317-1', 'auto'); ga('send', 'pageview'); </script>
</body>
</html>
