<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	{% include 'mainapp/parts/head-property.html' %}
	<title>{{ product.h1_mod }} {{ mod.title }} - ПЭК</title>
	<link href="{% static 'css/ModificationDetailView.css' %}" rel="stylesheet">
	<link href="{% static 'css/ModificationsDetailView_CartButtons.css' %}" rel="stylesheet">
	<link href="{% static 'css/jquery.fancybox.css' %}" rel="stylesheet">

	<link href="{% static 'css/ProdModBase.css' %}" rel="stylesheet">

</head>
<body>
	{% include 'mainapp/parts/header.html' %}
	<main>
		<!-- Images block  -->
		<div class="d-flex flex-md-wrap justify-content-md-center images-block">

	  {% for p in photos %}{% if p.show %}
	  <a data-fancybox='images' href="{{p.image.url}}" data-width="1200">
	    <img  src="{{p.image.url}}" class="image">
	  </a>
	  {% endif %}{% endfor %}
	  </div>

		<script type="text/javascript">
		function PhotosWidth(){
			if (window.matchMedia("(min-width: 768px) and (max-width: 1199.98px)").matches){
			var images = document.querySelectorAll(".images-block a");

			for(i = 0; i < images.length; i++){
				var width  = 100/document.querySelector(".images-block").children.length;
				if (width > 50) {width=50}
				images[i].style.cssText = 'width: '+width+'%!important';
			}
		} else {
			var images = document.querySelectorAll(".images-block a");
			for(i = 0; i < images.length; i++){
				images[i].removeAttribute("style");
			}

		}
		}
		PhotosWidth();
		</script>


	<!-- End Images block  -->



	<div class="row p-0 m-0">

		<div class="col-lg-3 d-none d-lg-flex justify-content-center">
			{% include 'mainapp//minor/sidebar.html' %}
		</div>


		<div class="col-12 col-lg-9 col-xxl-6 col-xxl-pre-index col-xxl-6-index row p-0 m-0">
			<div class="container">

				<div class="primary_ttl">
					<h1> {{ product.h1_mod }} {{ mod.title }}</h1>
				</div>

				<div class="about-modification container py-5" id='cart-form-bg'>

					<!-- Add to cart section			 -->
					<div class="d-flex flex-column flex-md-row justify-content-center border-bottom pb-md-5">
						<div class="d-flex flex-column justify-content-center">

							<form id="js-form-add-cart" add-to-cart-url='{% url "product" pk=mod.id %}'>
								<input id="js-quantity-field" class="input-quantity mr-3" min="1" value=1 type="text" name="quantity" autocomplete="off" oninput="this.value=this.value.replace(/[^0-9]/g,'');">
								<div class="d-flex align-self-center p-3 btn-wrap">


									<div id="js-cart-button" class="add-to-cart">
										<div class="default">Добавить</div>
										<div class="success">Добавлено</div>
										<div class="cart">
											<div>
												<div></div>
												<div></div>
											</div>
										</div>
										<div class="dots"></div>
									</div>

								</div>
							</form>

						</div>

						<div class="flex-column m-auto pt-4 pt-md-0 m-md-0"><p class="help-text p-2 pl-md-5">Внести изменения в название вы сможете в корзине</p></div>
					</div>
					<!-- End Add to cart section -->


					<section class="content pt-5 px-3">
						{{ mod.content | safe }}
					</section>

				</div>
				<!-- f -->

				{% include 'mainapp/parts/ProdModBase.html' %}

			</div>
		</div>
	</div>
</main>

{% include 'mainapp/parts/footer.html' %}
<script>
let mod_bg = document.getElementById("cart-form-bg").getBoundingClientRect().top;
let sidebar = document.getElementById('content-left');
let sidebar_now_position = sidebar.getBoundingClientRect().top;
var position  = mod_bg - sidebar_now_position;
sidebar.style.marginTop = position+ 10 + 'px';
</script>
<script type="text/javascript">
document.querySelectorAll('.add-to-cart').forEach(button => {
	button.addEventListener('click', e => {
		button.classList.toggle('added');
	});
});
</script>
<script type="text/javascript">
// Sensors animation
$('.sensors-inner').hover(
       function(){
				 $('.sensors-inner:not(:hover)').addClass('sensor-hov'),
				 $('.content').addClass('sensor-content-animate')},
       function(){
				 $('.sensors-inner').removeClass('sensor-hov'),
			 	$('.content').removeClass('sensor-content-animate') },
)

</script>
<script type="module"  src="{% static 'js/ajax/Modification.add-to-cart.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
</body>
</html>
