<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	{% include 'mainapp/head-property.html' %}
	<title>ООО "ПЭК" - Производство исполнительных механизмов и электроприводов</title>
	<link href="{% static 'css/ProductDetailView.css' %}" rel="stylesheet">

	<link href="{% static 'css/jquery.fancybox.css' %}" rel="stylesheet">

</head>
<body>
{% include 'mainapp/header.html' %}

<div class="d-flex flex-wrap justify-content-center " style="
background-color: #fff;
position: relative;
z-index: 2;">
		{% for p in photos %}
			<a data-fancybox='images' href="{{p.image.url}}" data-width="1200">
				<img  src="{{p.image.url}}" class="image" style="width: 250px;">
			</a>
		{% endfor %}
</div>

<main>
	<div class="row p-0 m-0">

					<div class="col-lg-2 col-xl-3 d-none d-lg-flex justify-content-center">
							{% include 'mainapp/sidebar.html' %}
					</div>


	<div class="col-12 col-lg-10 col-xl-6">


								<div class="container top-block">
									<h1 class="py-5 text-center"> {{ product_content.h1_mod }} {{ mod.title }} </h1>
							</div>

							<section class="container content py-5 px-3">
										{{ mod.content | safe }}
							</section>

								<section class="container content py-5 px-3">
											{{ product_content.content | safe }}
								</section>

		</div>
	</div>
</main>
{% include 'mainapp/footer.html' %}

	<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
</body>
</html>



[<table cellspacing="0" class="simple-little-table">
<tr>

<tr>
<td><button class="btn btn-primary" data-target="#myModal2" data-toggle="modal" name="МЭОФ 45/3-0,25-IICT4">Заказать</button></td><td>45/3-0,25-IICT4-12</td><td>45</td><td>3</td><td>0,25</td><td rowspan="16">230</td><td rowspan="16">39</td>
</tr><tr>
<td><button class="btn btn-primary" data-target="#myModal2" data-toggle="modal" name="МЭОФ 80/5-0,25-IICT4">Заказать</button></td><td>80/5-0,25-IICT4-12</td><td>80</td><td>5</td><td>0,25</td>
</tr><tr>
<td><button class="btn btn-primary" data-target="#myModal2" data-toggle="modal" name="МЭОФ 90/3-0,25-IICT4">Заказать</button></td><td>90/3-0,25-IICT4-12</td><td>90</td><td>3</td><td>0,25</td>
</tr><tr>
<td><button class="btn btn-primary" data-target="#myModal2" data-toggle="modal" name="МЭОФ 100/4-0,25-IICT4">Заказать</button></td><td>100/4-0,25-IICT4-12</td><td>100</td><td>4</td><td>0,25</td>
</tr><tr>
<td><button class="btn btn-primary" data-target="#myModal2" data-toggle="modal" name="МЭОФ 140/10-0,25-IICT4">Заказать</button></td><td>140/10-0,25-IICT4-12</td><td>140</td><td>10</td><td>0,25</td>
</tr><tr>
<td><button class="btn btn-primary" data-target="#myModal2" data-toggle="modal" name="МЭОФ 320/10-0,25-IICT4">Заказать</button></td><td>320/10-0,25-IICT4-12</td><td>320</td><td>10</td><td>0,25</td>
</tr><tr>
<td><button class="btn btn-primary" data-target="#myModal2" data-toggle="modal" name="МЭОФ 320/25-0,25-IICT4">Заказать</button></td><td>320/25-0,25-IICT4-12</td><td>320</td><td>25</td><td>0,25</td>
</tr><tr>
<td><button class="btn btn-primary" data-target="#myModal2" data-toggle="modal" name="МЭОФ 480/15-0,25-IICT4">Заказать</button></td><td>480/15-0,25-IICT4-12</td><td>480</td><td>15</td><td>0,25</td>
</tr><tr>
<td><button class="btn btn-primary" data-target="#myModal2" data-toggle="modal" name="МЭОФ 500/25-0,25-IICT4">Заказать</button></td><td>500/25-0,25-IICT4-12</td><td>500</td><td>25</td><td>0,25</td>
</tr><tr>
<td><button class="btn btn-primary" data-target="#myModal2" data-toggle="modal" name="МЭОФ 500/40-0,25-IICT4">Заказать</button></td><td>500/40-0,25-IICT4-12</td><td>500</td><td>40</td><td>0,25</td>
</tr><tr>
<td><button class="btn btn-primary" data-target="#myModal2" data-toggle="modal" name="МЭОФ 630/25-0,25-IICT4">Заказать</button></td><td>630/25-0,25-IICT4-12</td><td>630</td><td>25</td><td>0,25</td>
</tr><tr>
<td><button class="btn btn-primary" data-target="#myModal2" data-toggle="modal" name="МЭОФ 630/63-0,25-IICT4">Заказать</button></td><td>630/63-0,25-IICT4-01</td><td>630</td><td>63</td><td>0,25</td>
</tr><tr>
<td><button class="btn btn-primary" data-target="#myModal2" data-toggle="modal" name="МЭОФ 650/100-0,25-IICT4">Заказать</button></td><td>650/100-0,25-IICT4-12</td><td>650</td><td>100</td><td>0,25</td>
</tr><tr>
<td><button class="btn btn-primary" data-target="#myModal2" data-toggle="modal" name="МЭОФ 800/63-0,25-IICT4">Заказать</button></td><td>800/63-0,25-IICT4-12</td><td>800</td><td>63</td><td>0,25</td>
</tr><tr>
<td><button class="btn btn-primary" data-target="#myModal2" data-toggle="modal" name="МЭОФ 800/120-0,25-IICT4">Заказать</button></td><td>800/120-0,25-IICT4-12</td><td>800</td><td>120</td><td>0,25</td>
</tr><tr>
<td><button class="btn btn-primary" data-target="#myModal2" data-toggle="modal" name="МЭОФ 1000/63-0,25-IICT4">Заказать</button></td><td>1000/63-0,25-IICT4-12</td><td>1000</td><td>63</td><td>0,25</td>
</tr>
</tr></table>]
