<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	{% include 'mainapp/head-property.html' %}
	<title>{{ product_content.h1_mod }} {{ mod.title }} - ООО ПЭК</title>
	<link href="{% static 'css/ProductDetailView.css' %}" rel="stylesheet">
	<link href="{% static 'css/ModificationDetailView.css' %}" rel="stylesheet">
	<link href="{% static 'css/jquery.fancybox.css' %}" rel="stylesheet">

</head>
<body>
	{% include 'mainapp/header.html' %}

	<div class="d-flex flex-wrap justify-content-center mt-5 " style="
	background-color: #fff;
	position: relative;
	z-index: 2;">
	{% for p in photos %}
	<a data-fancybox='images' href="{{p.image.url}}" data-width="1200">
		<img  src="{{p.image.url}}" class="image">
	</a>
	{% endfor %}
</div>

<main>
	<div class="row p-0 m-0">

		<div class="col-lg-3 d-none d-lg-flex justify-content-center">
			{% include 'mainapp/sidebar.html' %}
		</div>


		<div class="col-12 col-lg-9 col-xxl-6 col-xxl-pre-index col-xxl-6-index row p-0 m-0">
			<div class="container">

				<div class="top-block">
					<h1 class="text-center"> {{ product_content.h1_mod }} {{ mod.title }}</h1>
				</div>

				<div class="container py-5" id='cart-form-bg' style="background-color: #f9f9f9;border-radius:15px;">

					<div class="d-flex flex-column flex-md-row justify-content-center">

						<div class="d-flex flex-column justify-content-center">
							<form method="POST" action="{% url "product" pk=mod.id %}">
								{% csrf_token %}
								<input class="input-quantity mr-3" min="1" value=1 type="text" name="quantity" autocomplete="off" oninput="this.value=this.value.replace(/[^0-9]/g,'');">
								<input type="hidden" name="next" value="{{ request.path }}"> <!-- WARNING:  -->
								<div class="d-flex align-self-center p-3 btn-wrap"><input class="btn" type="submit" value=""></div>
							</form>
						</div>

						<div class="flex-column m-auto pt-4 pt-md-0 m-md-0"><p class="help-text p-2 pl-md-5">Внести изменения в название вы сможете в корзине</p></div>
					</div>

				</div>

				<section class="content py-5 px-3">
					{{ mod.content | safe }}
				</section>

				<section class="content py-5 px-3">
					{{ product_content.content | safe }}
				</section>

				<div class="d-flex flex-wrap mb-5 justify-content-center">
					{% for doc in docs %}
						<div class="doc-wrap m-3 pb-3 p-2">
							<a href="{{doc.item.file.url}}">
								<div class="d-flex justify-content-center my-3">
										<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-file-text" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4z"/>
										<path fill-rule="evenodd" d="M4.5 10.5A.5.5 0 0 1 5 10h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 8h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 4h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"/>
									</svg>
							</div>
							<p>{{doc.name}}</p>
						</a>
						</div>
					{% endfor %}
				</div>

			</div>
		</div>
	</div>
</main>
{% include 'mainapp/footer.html' %}
<script>
let mod_bg = document.getElementById("cart-form-bg").getBoundingClientRect().top;
let sidebar = document.getElementById('content-left');
let sidebar_now_position = sidebar.getBoundingClientRect().top;
var position  = mod_bg - sidebar_now_position;
sidebar.style.marginTop = position+ 20 + 'px';
</script>
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
</body>
</html>
