<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	{% include 'mainapp/head-property.html' %}
	<title>ООО "ПЭК" - Производство исполнительных механизмов и электроприводов</title>
	<link href="{% static 'css/ProductDetailView.css' %}" rel="stylesheet">

	<link href="{% static 'css/jquery.fancybox.css' %}" rel="stylesheet">

</head>
<body>
{% include 'mainapp/header.html' %}
<main>
	{% include 'mainapp/sidebar.html' %}




	<div class="d-flex flex-wrap justify-content-center py-5">
			{% for p in photos %}
				<a data-fancybox='images' href="{{p.image.url}}" data-width="1200">
					<img  src="{{p.image.url}}" class="image" style="width: 250px;">
				</a>
			{% endfor %}
	</div>
	<div class="container top-block">
		<h1 class="py-5 text-center"> {{ product.name }}</h1>
</div>

	<section class="container my-5">

				{{ product.content | safe }}

	</section>

</main>
{% include 'mainapp/footer.html' %}

	<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
</body>
</html>
