<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	{% include 'mainapp/head-property.html' %}
	<title>ООО "ПЭК" - Производство исполнительных механизмов и электроприводов</title>
	<link href="{% static 'css/ProductDetailView.css' %}" rel="stylesheet">

</head>
<body>
{% include 'mainapp/header.html' %}
<main>
	<section class="container">


		<div class="top-block">
			<h1> {{ p.name }}</h1>

			{% for p in photos %}
			<img src="{{p.image.url}}"  class="flex-fill image">
			{% endfor %}
	</div>


				{{ p.content | safe }}



	</section>

</main>


{% include 'mainapp/footer.html' %}
</body>
</html>
