{% load static %}
<!--
	<ul  id="content-left" class="metro pt-md-5" >
		<p class="title-sidebar">Продукция</p>
		<li class="text-sidebar">Электроприводы в общепромышленном исполнеии:</li>
    	<li><a href="">Элемент списка</a>

      <ul>
        <li><a href="">Элемент вложенного списка</a></li>
        <li><a href="">Элемент вложенного списка</a></li>
        <li><a href="">Элемент вложенного списка</a></li>
        <li class="nav-item dropdown active px-2">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Документация
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="">Action</a>
              <a class="dropdown-item" href="">Another action</a>
              <a class="dropdown-item" href="">Somethink else </a>
        </li>
      </ul>
    </li>
    <li><a href="">Элемент списка</a></li>
    <li><a href="">Элемент списка</a></li>

</ul>
 -->

<div class="d-none d-xl-flex my-5" id="content-left">
	<div class="flex-column sidebar-wrap p-3">
			<p class="title-sidebar py-3">Продукция</p>
<!-- Общепромышленные -->
			<div class="flex-column text-sidebar">
					<p class="">Электроприводы в общепромышленном исполнеии:</p>
					<a href="#"><p>МЭО</p></a>
					<a href="#"><p>МЭОФ</p></a>
			</div>
<!-- Многооборотные -->
			<div class="flex-column text-sidebar">
					<p class="">Электроприводы и механизмы многооборотные
						 в общепромышленном исполнении:</p>
					<a href="#"><p>МЭМ</p></a>
					<a href="#"><p>ПЭМ</p></a>
					<a href="#"><p>ПЭМ с редуктором</p></a>
					<a href="#"><p>Электропривод Н-М</p></a>
			</div>
<!-- Прямоходные -->
			<div class="flex-column text-sidebar">
					<p class="text-sidebar">Механизмы электрические прямоходные в
						общепромышленном исполнении:</p>
					<a href="#"><p>МЭП</p></a>
					<a href="#"><p>МЭПР</p></a>
			</div>
<!-- Взрывозащ -->
			<div class="flex-column text-sidebar">
					<p class="">Электроприводы во взрывозащищенном исполнении:</p>
					<a href="#"><p>МЭО-IICT4 (IIBT4)</p></a>
					<a href="#"><p>МЭОФ-IIСT4 (IIBT4)</p></a>
					<a href="#"><p>МЭПК-IIСT4</p></a>
			</div>
<!-- Арматура -->
			<div class="flex-column text-sidebar">
					<p class="">Трубопроводная арматура с электроприводом:</p>
					<a href="#"><p>Запорная арматура</p></a>
			</div>
<!-- Клапаны -->
			<div class="flex-column text-sidebar">
					<p class="">Клапаны газоплотные ПГВУ с электроприводом:</p>
					<a href="#"><p>Клапаны ПГВУ</p></a>
			</div>
<!-- Шлагбаумы -->
			<div class="flex-column text-sidebar">
					<p class="">Шлагбаумы</p>
					<a href="#"><p>Шлагбаумы взрывозащищенного исполнения</p></a>
			</div>
<!-- Сигнализации положения -->
			<div class="flex-column text-sidebar">
					<p class="">Механизмы сигнализации положения:</p>
					<a href="#"><p>МСП-1</p></a>
					<a href="#"><p>МСП-94</p></a>
					<a href="#"><p>МСП-РМ(РБ) - аналог колонки КДУ</p></a>
			</div>

	</div>
</div>
