{% load static %}
<div id="content-left">
	<div class="sidebar-title">Продукция</div>

<div class="sidebar-text">
	<p class="lil_title">Электроприводы в общепромышленном исполнеии:</p>
    <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#collapseOne">
           ↓<a href="/catalog/mechanisms/meo/">МЭО</a> 
        </a>
      </div>
      <div id="collapseOne" class="collapse" >
        <div class="card-body">
          <a href="#"><p>МЭО-6,3</p></a>
          <a href="#"><p>МЭО-25</p></a>
          <a href="#"><p>МЭО-40</p></a>
          <a href="#"><p>МЭО-160</p></a>
          <a href="#"><p>МЭО-250</p></a>
          <a href="#"><p>МЭО-500</p></a>
          <a href="#"><p>МЭО-630</p></a>
          <a href="#"><p>МЭО-1600</p></a>
          <a href="#"><p>МЭО-4000</p></a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
        	▼ <a href="#">МЭОФ</a>
      </a>
      </div>
      <div id="collapseTwo" class="collapse" >
        <div class="card-body">
          <a href="#"><p>МЭОФ-6,3</p></a>
          <a href="#"><p>МЭОФ-15</p></a>
          <a href="#"><p>МЭОФ-25</p></a>
          <a href="#"><p>МЭОФ-40</p></a>
          <a href="#"><p>МЭОФ-160</p></a>
          <a href="#"><p>МЭОФ-250</p></a>
          <a href="#"><p>МЭОФ-500</p></a>
          <a href="#"><p>МЭОФ-630</p></a>
          <a href="#"><p>МЭОФ-1600</p></a>
          <a href="#"><p>МЭОФ-4000</p></a>  
        </div>
      </div>
    </div>

    <p class="lil_title">Электроприводы и механизмы многооборотные в общепромышленном исполнении:</p>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
        	▼ <a href="#">МЭМ</a>
      </a>
      </div>
      <div id="collapseThree" class="collapse" >
        <div class="card-body">
          <a href="#"><p>МЭМ-40</p></a>
          <a href="#"><p>МЭМ-100</p></a>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
        	▼ <a href="#">ПЭМ</a>
      </a>
      </div>
      <div id="collapseFour" class="collapse" >
        <div class="card-body">
          <a href="#"><p>ПЭМ-А</p></a>
          <a href="#"><p>ПЭМ-Б</p></a>
          <a href="#"><p>ПЭМ-В</p></a> 
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse">
        	<a href="#">ПЭМ с редуктором</a>
      	</a>
      </div>

      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse">
        	<a href="#">Электропривод Н-М</a>
      	</a>
      </div>
    </div>

    <p class="lil_title">Механизмы электрические прямоходные в общепромышленном исполнении:</p>
    
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">
        	▼ <a href="#">МЭП</a>
      </a>
      </div>
      <div id="collapseFive" class="collapse" >
        <div class="card-body">
          <a href="#"><p>МЭП-2500</p></a>
          <a href="#"><p>МЭП-6300</p></a>
          <a href="#"><p>МЭП-25000</p></a>
          <a href="#"><p>МЭП-40000</p></a> 
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse">
        	<a href="#">МЭПР</a>
      	</a>
      </div>
    </div>

    <p class="lil_title">Электроприводы во взрывозащищенном исполнении:</p>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseSix">
        	▼ <a href="#">МЭО-IICT4 (IIBT4)</a>
      </a>
      </div>
      <div id="collapseSix" class="collapse" >
        <div class="card-body">
          <a href="#"><p>МЭО-40-IICT4</p></a>
          <a href="#"><p>МЭО-160-IICT4</p></a>
          <a href="#"><p>МЭО-250-IICT4</p></a>
          <a href="#"><p>МЭО-500-IICT4</p></a>
          <a href="#"><p>МЭО-1000-IIBT4</p></a>
          <a href="#"><p>МЭО-1600-IIBT4</p></a>
          <a href="#"><p>МЭО-4000-IIBT4</p></a> 
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseSeven">
        	▼ <a href="#">МЭОФ-IIСT4 (IIBT4)</a>
      </a>
      </div>
      <div id="collapseSeven" class="collapse" >
        <div class="card-body">
          <a href="#"><p>МЭОФ-40-IIСT4</p></a>
          <a href="#"><p>МЭОФ-160-IIСT4</p></a>
          <a href="#"><p>МЭОФ-250-IIСT4</p></a>
          <a href="#"><p>МЭОФ-500-IIСT4</p></a>
          <a href="#"><p>МЭОФ-1000-IICT4</p></a> 
          <a href="#"><p>МЭОФ-1600-IIBT4</p></a> 
          <a href="#"><p>МЭОФ-4000-IIBT4</p></a>  
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse">
        	<a href="#">МЭПК-IIСT4</a>
      	</a>
      </div>
    </div>

      <p class="lil_title">Трубопроводная арматура с электроприводом:</p>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseEight">
        	▼ <a href="#">Запорная арматура</a>
      </a>
      </div>
      <div id="collapseEight" class="collapse" >
        <div class="card-body">
          <a href="#"><p>Задвижки стальные</p></a>
          <a href="#"><p>Задвижки чугунные</p></a>
          <a href="#"><p>Краны запорные</p></a>
          <a href="#"><p>Краны регулирующие</p></a>
          <a href="#"><p>Клапаны регулирующие</p></a> 
          <a href="#"><p>Затворы дисковые</p></a>  
        </div>
      </div>
    </div>

    <p class="lil_title">Клапаны газоплотные ПГВУ с электроприводом:</p>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseNine">
        	▼ <a href="#">Клапаны ПГВУ</a>
      </a>
      </div>
      <div id="collapseNine" class="collapse" >
        <div class="card-body">
          <a href="#"><p>ПГВУ 291-80</p></a>
          <a href="#"><p>ПГВУ 295-80</p></a>
          <a href="#"><p>ПГВУ 296-80</p></a>
          <a href="#"><p>ПГВУ 297-80</p></a>
          <a href="#"><p>ПГВУ 298-80</p></a> 
          <a href="#"><p>ПГВУ 298-80</p></a>  
        </div>
      </div>
    </div>

    <p class="lil_title">Шлагбаумы:</p>

    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse">
        	<a href="#">Шлагбаумы взрывозащищенного исполнения</a>
      </a>
      </div>
    </div>

    <p class="lil_title">Механизмы сигнализации:</p>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse">
        	<a href="#">МСП-1</a>
      </a>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse">
        	<a href="#">МСП-94</a>
      </a>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse">
        	<a href="#">МСП-РМ(РБ) - аналог колонки КДУ</a>
      </a>
      </div>
    </div>

    <p class="lil_title">Пусковые и управляющие устройства:</p>

    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTen">
        	▼ <a href="#">ПБР</a>
      </a>
      </div>
      <div id="collapseTen" class="collapse" >
        <div class="card-body">
          <a href="#"><p>ПБР-2М, ПБР-22</p></a>
          <a href="#"><p>ПБР-3А, ПБР-33</p></a> 
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseEleven">
        	▼ <a href="#">ФЦ</a>
      </a>
      </div>
      <div id="collapseEleven" class="collapse" >
        <div class="card-body">
          <a href="#"><p>фц-0610</p></a>
          <a href="#"><p>фц-0620</p></a>
          <a href="#"><p>фц-0650</p></a> 
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse">
        	<a href="#">БЭЗ</a>
      </a>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwelve">
        	▼ <a href="#">БТЗ</a>
      </a>
      </div>
      <div id="collapseTwelve" class="collapse" >
        <div class="card-body">
          <a href="#"><p>БТЗ-3.1</p></a>
          <a href="#"><p>БТЗ-3.2</p></a> 
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse">
        	<a href="#">БУМ</a>
      </a>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse">
        	<a href="#">БУШ</a>
      </a>
      </div>
    </div>

</div>
</div>
