<!DOCTYPE html>
{% load static %}
<html>
<head>
	{% include 'mainapp/parts/head-property.html' %}
	<title>{{ subgroup_info.title }}</title>
	<link href="{% static 'css/SubgroupDetailView1.css' %}" rel="stylesheet">
	<link href="{% static 'css/ProdModBase.css' %}" rel="stylesheet">
</head>
<style media="screen">
:root{
	--navbar_bg_color: #fff;
	--nav_link_color: #000;
	}
</style>
<body>
	<!-- WARNING: Условия -->
	{% if subgroup_info.pic_of_hat %}


	{% if subgroup_info.dark_banner %}
	<style media="screen">
	:root{
		--navbar_bg_color: inherit;
		--nav_link_color: #fff;
		--primary_ttl_color: #fff;
		}
	</style>

	{% else %}
	<style media="screen">
	:root{
		--navbar_bg_color: inherit;
		--nav_link_color: #000;
		}
	</style>


	{% endif %}

	<div class="banner" style="background-image: url({{ subgroup_info.pic_of_hat.url }});">
		{% include 'mainapp/parts/header.html' %}

		<div class="container h-75 primary_ttl">
		<h1 class="container align-middle p-3">{{subgroup_info.name}}</h1>
	</div>
</div>

{% else %}

{% include 'mainapp/parts/header.html' %}
<div style="z-index: 99!important; position: relative; background: #fff;">
<div class="container-900 px-md-5">
	<div class="primary_ttl">
		<h1 class="d-flex justify-content-center py-md-3">{{subgroup_info.name}}</h1>
	</div>
</div>
</div>

{% endif %}
<!-- WARNING:  -->




<main class="main-property">

			<div id="content-right" class="mx-auto">
			<div class="container-900">

				<div class="subgroup-description px-md-5">{{subgroup_info.description | safe }}</div>

				<section class="m-auto pt-5">
					{% for product in product_list %}
					<div class="d-flex wrapper py-2 py-md-5 ">
						<a href="{{ product.slug_product }}" class="w-100">

							<div class="d-flex">

								<div class="flex-column justify-content-start py-3 py-md-0">
									<img src="{{ product.img.url }}" alt="">
								</div>

								<div class="d-flex flex-column justify-content-center w-100 px-md-5 ">
									<h2 class="mb-md-3 px-0 px-md-3 py-4 py-md-0">{{ product.href_title }}</h2>
									<div class="p-0 px-md-3 py-md-2 py-md-0 d-flex flex-column description">{{ product.description |safe }}</div>
								</div>
							</div>
						</a>
					</div>
					{% endfor %}
				</section>

			{% if subgroup_info.content %}
			<div class="content">{{ subgroup_info.content|safe }}</div>
			{% endif %}

		</div>



</main>

{% include 'mainapp/parts/footer.html' %}


</body>
</html>
