<!DOCTYPE html>
{% load static %}
<html>
<head>
	{% include 'mainapp/parts/head-property.html' %}
	<title>{{ subgroup_info.title }} - ООО "ПЭК"</title>
	<link href="{% static 'css/SubgroupDetailView.css' %}" rel="stylesheet">
	<link href="{% static 'css/ProdModBase.css' %}" rel="stylesheet">
</head>
<style media="screen">
:root{
	--navbar_bg_color: #fff;
	--nav_link_color: #000;
	}
</style>
<body>
	<!-- WARNING: Условия -->
	{% if subgroup_info.pic_of_hat %}


	{% if subgroup_info.dark_banner %}
	<style media="screen">
	:root{
		--navbar_bg_color: inherit;
		--nav_link_color: #fff;
		--primary_ttl_color: #fff;
		}
	</style>

	{% else %}
	<style media="screen">
	:root{
		--navbar_bg_color: inherit;
		--nav_link_color: #000;
		}
	</style>


	{% endif %}

	<div class="banner" style="background-image: url({{ subgroup_info.pic_of_hat.url }});">
		{% include 'mainapp/parts/header.html' %}

		<div class="container h-75 primary_ttl">
		<h1 class="container align-middle p-3">{{subgroup_info.name}}</h1>
	</div>
</div>

{% else %}

{% include 'mainapp/parts/header.html' %}
<div style="z-index: 99!important; position: relative;">
<div class="container ">
	<div class="rellax primary_ttl" data-rellax-speed="-2">
		<h1 class="d-flex justify-content-center iphone-text-small py-md-3 py-5 px-3 text-center " style="margin-top: 7rem;">{{subgroup_info.name}}</h1>
	</div>
</div>
</div>

{% endif %}
<!-- WARNING:  -->




<main class="main-property">
	<div class="row p-0 m-0">

		<div class="col-lg-3 d-none d-lg-flex justify-content-center p-0">
			{% include 'mainapp//minor/sidebar.html' %}
		</div>


		<div class="col-12 col-lg-9 col-xxl-6 col-xxl-pre-index col-xxl-6-index p-0">
			<div id="content-right" class="mx-auto">
			<div class="container">

				<div class="subgroup-description">{{subgroup_info.description | safe }}</div>

				<section class="m-auto pt-5">
					{% for product in product_list %}
					<div class="d-flex wrapper py-2 py-md-5 ">
						<a href="{{ product.slug_product }}" class="w-100">

							<div class="d-flex">

								<div class="flex-column justify-content-start py-3 py-md-0">
									<img src="{{ product.img.url }}" alt="">
								</div>

								<div class="flex-column justify-content-center w-100 px-md-5 position-relative">
									<h1 class="mb-md-3 px-3 py-4 py-md-0">{{ product.href_title }}</h1>
									<div class="d-none px-3 py-2 py-md-0 d-sm-flex flex-column description">{{ product.description |safe }}</div>
								</div>
							</div>
						</a>
					</div>
					{% endfor %}
				</section>


			<div class="content">{{ subgroup_info.content|safe }}</div>

		</div>
		</div>
	</div>

	<div class="clear" style="clear: both;"></div> <!-- NOTE: необходимо для /minor/sidebar.html -->
</main>

{% include 'mainapp/parts/footer.html' %}
<script src="{% static 'js/rellax.min.js' %}"></script>
<script>
var rellax = new Rellax('.rellax');
</script>
</body>
</html>
